[2017-07-29 22:28] voobscout opened #2 "can't use provisioner inside domain/record blocks"
### Terraform Version
Terraform v0.9.11

### Affected Resource(s)
Please list the resources as a list, for example:
- digitalocean_domain
- digitalocean_record

### Terraform Configuration Files
[code]

### Expected Behavior
Have a usecase for removing auto-created NS records on domain, since using vanity servers, ie. ns1.domain-demo.com

the expected behaviour would be to have an ability to run a

[2017-07-29 22:54] voobscout commented on #2
uneven curly braces count produced that....

[2017-07-29 22:54] #2 closed

[2017-07-31 21:25] voobscout opened #3 "always_ipxe not supported"
Packet [API](https://www.packet.net/developers/api/devices/) has a nifty ```"always_pxe": "boolean"```

[code]
Any chance this will be implemented in terraform? Right now i'm forced to make an additional local-exec provisioner, that updates the API to enable the always_ipxe, it seems rather convoluted for something so simple...

[2017-08-01 03:46] bzub commented on #3
I'd like to have this feature also. One issue with implementation is that the official Go library doesn't support always_pxe yet either.

I've implemented it, though, in the library and this provider. Soon I'll probably get time to make sure it's good enough to submit a pull request.

Here are my forks:
https://github.com/bzub/packngo
https://github.com/bzub/terraform-provider-packet

For now you

[2017-08-01 15:42] voobscout commented on #3
@bzub Thanks! You're awesome!

[2017-08-03 02:03] pgporada opened #4 "Wrong number of resources to be applied in plan"
### Terraform Version
0.9.11

### Affected Resource(s)
packet_ssh_key

### Debug Output
https://gist.github.com/pgporada/cbf8bab9411c3612fe273fdde2e9206f

### Expected Behavior
When adding a resource, the correct # of resources to be added is displayed

### Actual Behavior
The terraform plan said 2 resources would be added, but only 1 was added. The plan math seems to be wrong.

### Steps to Repro

[2017-08-03 02:06] pgporada opened #5 "Elastic IP support"
Per https://help.packet.net/technical/networking/elastic-ips, elastic ips are supported by the Packet.net API. This would be nifty to have support for.

[2017-08-03 12:04] radeksimko commented on #4
Hi @pgporada
do you mind sharing config files (minus secrets) which would help us reproduce (and fix) this misbehaviour?

Thanks.

[2017-08-03 13:44] pgporada commented on #4
@radeksimko Sure thing, here's the code I wrote https://github.com/pgporada/terraform-packetdotnet

[2017-08-09 14:47] mmlb commented on #3
packngo has been updated and now has always_pxe support

[2017-08-11 17:05] brownjohnf opened #8 "Unable to provision reserved instances"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

Terraform v0.10.0

### Affected Resource(s)

- packet_device

Only appears to impact provisioning reserved hardware.

### Terraform Configuratio

[2017-08-11 17:37] brownjohnf commented on #8
@vielmetti here's the issue

[2017-08-11 17:50] apparentlymart commented on #8
Hi @brownjohnf!

It looks like the packet account we use for dev/testing doesn't list `baremetal_2a2` as a valid plan yet, so I wasn't able to confirm the details of this plan. Can you see this plan listed in [the `plans` API response](https://www.packet.net/developers/api/plans/) if you run it with the API token you're using with Terraform?

If so, could you share the JSON source describing that

[2017-08-11 18:16] brownjohnf commented on #8
Sure, I can do that. Ed made some sort of change that unblocked us and got things working, but I then received:

`* packet_device.arm-builders: Billing cycle must be one of the following: hourly`

Switching to an hourly billing cycle allowed me to provision.

[2017-08-11 18:20] brownjohnf commented on #8
I do see it in the plans response:

[code]

[2017-08-11 18:22] vielmetti commented on #8
Hi all, I made a change to the entitlements that Resin gets (for Packet folks, this is described at ENG-781) that now adds that (as of yet unreleased) device into the plan configuration. What I'm still a little puzzled by is the "pricing" label, as this should only be available in a monthly configuration. I'll investigate further, but I'm glad this is working for now.

[2017-08-14 21:16] vielmetti commented on #8
OK, an update.

There is an API call that allows you to provision a reserved instance, documented at https://help.packet.net/technical/infrastructure/reserved-hardware .

It calls the API with a `hardware_reservation_id` parameter, which I don't see in the Terraform code here. That suggests that this is not yet supported.

[2017-08-23 15:06] #3 closed

[2017-08-23 15:07] bzub opened #11 "Document obtaining network information"
### Affected Resource(s)
- packet_device

### References
https://www.terraform.io/docs/configuration/interpolation.html#user-map-variables
https://www.terraform.io/docs/configuration/interpolation.html#lookup-map-key-default-

Getting network information from packet_device.*.network is awkward due to limitations in Terraform around nested lists. Also, to get public/private/ipv4/ipv6 network elemen

[2017-08-23 15:21] t0mk commented on #11
I guess we could do it as they do it over at Digital Ocean:
https://github.com/terraform-providers/terraform-provider-digitalocean/blob/master/digitalocean/resource_digitalocean_droplet.go#L104

Not too hard to implement. But what to do when user assigns another public ipv4/ipv6 address to the device?

What do you mean by flat list?

[2017-08-23 17:55] bzub commented on #11
Flat list as in a list of strings. I should have added that a map that's not in a list would be just as easy to use.

Without redundant output variables it's not really possible to represent all the information in the network objects and avoid nested lists, it seems to me. If that's accurate then we should probably document the data structure and how to use the lookup function to get network info.

[2017-08-27 04:18] bzub commented on #11
**TLDR**: Changed my mind, we have to provide network info in a less-nested manner due to https://github.com/hashicorp/terraform/issues/11036

------

I'll clarify and expand on this. I've found it's not possible to get network information from a group of packet_devices in TF without using a submodule to return the network info for each device. It's a long-standing known issue with no ETA to a fix

[2017-08-27 04:52] bzub commented on #11
So, how about replacing or supplementing the current network info schema with a lot of lists for each key in the network map?

[code]
So this would work when modules using this provider put `count.index` in the list index.

Same thing could be done for the rest of the variables in the network map.
- `ipv4_public_addresses`, `ipv6_public_addresses`, `ipv4_private_addresses`
- `ipv4_public_cidrs`, `

[2017-08-28 09:04] t0mk commented on #11
Unless this has been done in similar resource in another provider, I think this will not go through the review here.

What about following: Keep the network list as it is, and add 3 string fields to the device resource: access_public_ipv4, access_private_ipv4, access_public_ipv6? Just the address string would be there, no cidr, no gateway. Would this help your use-case?

This still obscures the as

[2017-08-30 20:36] bzub commented on #11
That works for me and probably most other use cases. If someone needs access to the extra network details I suppose we can point them to this issue for the workaround.

[2017-09-01 02:57] bzub opened #12 "Set packet_device's user_data field to Sensitive"
### Terraform Version
Terraform v0.10.2

### Affected Resource(s)
- packet_device.example.user_data

### Output
Example: https://gist.github.com/bzub/c8c0c9587bc6e06a05129bceb947ce4b

I think the packet provider should set the user_data field to be Sensitive because it is often a very long string and contain secrets like private keys. Also, in the example I linked at least, it's not really human r

[2017-09-01 14:55] #12 closed

[2017-09-01 18:05] bzub opened #16 "Should allow custom_ipxe OS with user_data and no ipxe_script_url"
I noticed https://github.com/packethost/packngo/pull/21 and verified packet.net allows you to omit `ipxe_script_url` when `user_data` is specified along with `custom_ipxe` OS.

Current code does not allow `ipxe_script_url` to be empty when `custom_ipxe` is the OS. So the validation needs to be updated for the case above.

[2017-09-06 11:24] #16 closed

[2017-09-06 15:51] #11 closed

[2017-09-09 18:06] bzub opened #22 "ipxe_script_url should not conflict with non-ipxe user_data"
### Affected Resource(s)
- packet_device

### Expected Behavior
The provider allows ipxe_script_url="something" && user_data="anything" as long as user_data doesn't start with `#!ipxe`

### Actual Behavior
[code]

### References
This bug was introduced (by me) in #16. The code creates a conflict between `ipxe_script_url` and `user_data` fields, when actually this should only cause an error if `use

[2017-09-09 18:13] t0mk commented on #22
Is this really a bug? I mean, can a device run from iPXE still get user-data blob from Packet metadata service? Isn't there some plumbing in the Packet OS images that makes the user-data fetch happen?

To ask differently: The way to download user-data is somehow standard? And Packet exposes user-data in this standard way?

Sorry if the question is silly, I'm a user-data noob.

[2017-09-09 18:22] bzub commented on #22
I might be the only person that uses `custom_ipxe` in this way 😆. I know that with CoreOS, at least, one is able to make the packet metadata scripts available the same way as if packet.net were provisioning the device, and thus use the user_data and anything else like normal. In my case I added an initrd like to the script ipxe_script_url points to that adds the packet-specific OEM files.

[2017-09-09 18:23] bzub commented on #22
Here's the script if you're curious: https://raw.githubusercontent.com/cloudnativelabs/pxe/master/packet/coreos-stable-packet.ipxe

[2017-09-09 20:37] bzub opened #24 "Provide a useful error message if auth_token is invalid"
I noticed that if `auth_token` is set, but invalid, we do not seem to output a useful error message.

The only case I've tested so far is creating a `packet_ssh_key` resource and `api_token` set to `""` empty string. I'll test to see if this is for all packet resources, and show an example in an update to this issue.

In provider.go we do not do any validation against `auth_token` currently. I ass

[2017-09-10 09:50] t0mk commented on #22
Thanks for explanation. Looks legit to me.

[2017-09-10 15:41] t0mk commented on #24
I confirm this, I run simple acceptance test with wrong PACKET_AUTH_TOKEN, and output is not very helpful:

[code]

[2017-09-15 13:59] #24 closed

[2017-09-28 15:49] t0mk commented on #8
@brownjohnf : is this still an issue?

We've added https://www.terraform.io/docs/providers/packet/r/device.html#hardware_reservation_id to the device resource.

If it's solved, please feel free to close this.

[2017-09-28 15:57] t0mk commented on #5
We've added
https://www.terraform.io/docs/providers/packet/r/ip_attachment.html
and
https://www.terraform.io/docs/providers/packet/r/reserved_ip_block.html
to 1.0.0 release.

@pgporada can we close this now? Also, feel free to test the new resources :).

[2017-09-28 15:57] pgporada commented on #5
Sure thing :)

[2017-09-28 15:57] #5 closed

[2017-09-29 14:46] brownjohnf commented on #8
I'll check it out and update this ticket. Thanks.

[2017-10-02 17:51] bzub opened #31 "Explore support for Packet's local and global BGP feature"
It's on the Packet.net public roadmap as a feature request. I'd like to use it also.
https://trello.com/c/TNuos7rW

[2017-10-03 00:04] kphatak opened #32 "failover if certain server is not available in particular facility at the moment"
### Terraform Version
0.10.7

### Affected Resource(s)
- packet_device

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/kphatak/88cb22fdaea8f1b607868e75dfc46548

### Expected Behavior
Ideally, provider should accept multiple facilities and host types and retry on failure with a certain type of error

### Actual Behavior
Provider errors out with servers unavailabl

[2017-10-17 20:47] epiloque opened #33 "packet_ip_attachment: Facility can't be blank"
The terraform configuration is [here](https://github.com/epiloque/stack/blob/e239f3ab5199ff9680645c8d346cd5d512dde8c1/terraform/packet/device/main.tf) and [here](https://github.com/epiloque/stack/blob/e239f3ab5199ff9680645c8d346cd5d512dde8c1/terraform/packet/device.test/main.tf). The full debug log is [here](https://travis-ci.org/epiloque/stack/jobs/289212276#L841-L851).

Thank you!

[code]

### V

[2017-10-18 05:54] t0mk commented on #33
hi @epiloque, thanks for the report. I will take a look on this today in the afternoon.

[2017-10-18 11:45] t0mk commented on #33
Hi again @epiloque, you have very nice infrastructure repo and tooling :eyes:, I will go back to your "manage" once I will need to do heavy shell scripting (hopefully not anytime soon though).

The error is caused by a curly brace in the end of the "cidr_notation" param in the assignment resource:
https://travis-ci.org/epiloque/stack/jobs/289212276#L816

It's coming from:
https://github.com/epiloq

[2017-10-18 11:54] epiloque commented on #33
Oh! Thank you @t0mk for solving this for me! (there is no getting away from bash scripts :laughing:)

[2017-10-18 11:54] #33 closed

[2017-10-19 10:54] t0mk opened #34 "Custom partitioning and RAID support"
In Packet it's possible to define custom partitioning and RAID config in a device creation parameter:
https://help.packet.net/technical/storage/custom-partitioning-raid

It would be nice to have this in TF provider.

The `storage` parameter format is (at first glance) the same as in CoreOS Ignition, supporting disks, filesystems and raid types:

[code]

As this is nicely structured, it could be do

[2017-10-19 12:15] t0mk commented on #34
I think I will keep it TypeString. If I would like to capture types, couldn't avoid maps of maps, and that doesn't play well with TF, as we've seen with the IP addresses.

The `storage` param then will be a JSON map. I will have to make sure that order of keys in the maps does not matter - that changing key order will not trigger resource update. I plan to do it by Unmarshaling to map[string]inter

[2017-10-20 15:15] bzub commented on #34
I should clarify what I said in slack and repost for here. Packet seems to use CoreOS Ignition to do this disk configuration step, and as you mentioned it works for most (any?) OS they offer. They most likely run ignition as a preliminary step with this config fed to it, then apply OS specific installation steps on top of that new disk configuration. So we shouldn't be concerned with the OS here.

[2017-10-22 22:56] l5x opened #36 "IPv6 /64 assignment"
Hello,

This is not an issue, just wanted to ask if there is a way to assign a IPv6 /64 block from the packet.net projects /56 network. I'm seeing `address_family` in the `packet_ip_attachment` attributes - is it intended for this use?

Thank you!

[2017-10-23 11:48] t0mk commented on #34
I did look on ignition provider, and considered to reuse the schemas. But to structure the storage param would mean nested maps and lists. As the storage is optional param, I think it's more straightforward to do it as a json string.

[2017-10-23 12:34] t0mk commented on #36
Hi @epiloque
theoretically, you can assign subnet from any (6 or 4) block in your project to a device in your projects, provided that the block and device are in the same facitliy.

Same goes for the pre-created /56 blocks. E.g., if you have device in your project, you can find out the available /64 subnets (through the UI or API), and then you can just attach it:

[code]

I guess that example is

[2017-10-23 12:51] epiloque commented on #36
Thank you for your time @t0mk. I'm thinking that maybe a terraform data source would be a good fir for fetching the pre-created /56 blocks.

[2017-10-23 14:41] t0mk commented on #36
@epiloque Yes, I guess too. I look at it, because it seems like an important feature to be able to assign the public IPv6 subnets from Terraform.

[2017-10-23 14:43] epiloque commented on #36
Thank you very much @t0mk.

[2017-10-24 15:06] t0mk commented on #36
Hi @epiloque,
PR #37 should fix this issue. Check the docfile in the PR.

[2017-12-11 10:00] matti opened #38 "spot_instance not supported"
`spot_instance` is in the API , similar to #3

[2017-12-11 17:05] bzub commented on #38
This feature is implemented in https://github.com/terraform-providers/terraform-provider-packet/pull/27 however the Packet API doesn't meet the expectations of Terraform maintainers, so unfortunately we are waiting for a more robust spot_instance implementation in the Packet API.

[2017-12-21 21:17] ZoidBB opened #39 "user_data and ipxe_script_url should be usable simultaneously"
### Terraform Version
Terraform v0.11.1
+ provider.packet v1.1.0
+ provider.tls v1.0.1

### Affected Resource(s)
 - packet_device

### Expected Behavior
defining both ipxe_script_url and user_data fields should apply fine

### Actual Behavior
terraform incorrectly informs me that ipxe_script_url and user_data fields conflict

[2017-12-21 22:59] #22 closed

[2018-01-05 16:35] jonasfj opened #41 "Add `description` to the "packet_device" resource type"
Packet instances supports a `description` property, see [API docs](https://www.packet.net/developers/api/devices/).

It would be nice if we could set this property from terraform.

### Terraform Configuration Files
[code]

---
From a quick look at the source this seems easy to do... if I get some idle time I might give it a shot.

[2018-01-20 00:00] jonasfj opened #42 "resourcePacketDeviceUpdate doesn't update user_data, lets set ForceNew"
I modified the `user_data` of a machine deployed, then ran `terraform apply` only to find that it pretended to something, when in fact it didn't do anything?

Expected behavior:
 * Delete and recreate the instance
 * Update user-data and reboot the instance
 * Update user-data (and nothing more)
 * Fail to update user-data and report this as not implemented

Neither of these things was attempted,

[2018-01-20 00:41] jonasfj commented on #42
After reading terraform docs another time, I suggest just adding `ForceNew` for the `user_data` property.

This is probably desired in many cases, since `user_data` is normally used to configure the instance. Most systems won't detect new `user_data` and take action accordingly, rather they'll have to be rebooted or even formatted, in case packages was installed, etc.

[2018-01-23 16:23] #34 closed

[2018-01-23 17:11] t0mk commented on #41
Hi @jonasfj, I just asked for a release without a fix to this. I don't have time to fix this now, and it seems really cosmetic. Furthermore, it seems it's not possible to set or update this field in the Packet portal.

[2018-01-23 18:58] jonasfj commented on #41
Agree, this is a tiny cosmetic thing....

Mostly useful for completeness :)

[2018-01-23 19:00] jonasfj commented on #42
@t0mk

I guess we can close this issue...

A quick look at the update function suggests to me that anything other than "locked" should be either computed or `ForceNew`.

As we currently only support updating the locked property..

maybe we should do a quick check to see if there is other properties that need to be ForceNew. It's a pretty easy fix after all :)

[2018-01-23 20:23] t0mk commented on #42
Thanks @jonasfj, I just went through the params. Yes, the solely computed attrs can be ignored for the ForceNew.

`ipxe_script_url` and `always_pxe` was I think introduced by @bzub, I wonder if there is any reason why those 2 should not be ForceNew. I.e. to me it seems reasonable that change in ipxe_script_url should taint the device resource state and force Terraform to recreate it.

Then, there

[2018-01-23 20:44] jonasfj commented on #42
Yeah, I'm pretty sure `ipxe_script_url` and `always_pxe` should be `ForceNew`. It doesn't really make sense to pxe boot a machine from existing state :) I doubt that even supported.

For `tags` I would argue that until we've fixed `resourcePacketDeviceUpdate` it's better to have `ForceNew`. As terraforming is primarily about synchronizing state, whether it's done by update or delete/recreate is le

[2018-01-25 20:45] pgporada opened #44 "Packet provider crash"
### Provider Version
1.2

### Terraform Version
0.11.2

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_project
- packet_ssh_key

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
I'm following along from https://www.terraform.io/docs/providers/packet/index.htm

[2018-01-25 20:51] pgporada commented on #4
I am still encountering this with Terraform 0.11.2 and Packet.net provider v1.2.

[2018-01-25 21:13] t0mk commented on #44
Hi, @pgporada, thanks for the report. Yes, this is a problem indeed. I will try to take a look on this tomorrow.

As a temporary solution You really want to use a non-default payment method? Would the TF apply work for you if you'd omit the payment method from the project resource?

[2018-01-26 03:31] pgporada commented on #44
It does indeed work if I apply without a payment method. I like finding strange corner cases and this led me down a nice rabbit hole of testing. 👍

[2018-01-26 03:34] pgporada commented on #4
This might be due to the provider itself. If a project id is not specified then a new project is created inside the Packet web UI. The packet_ssh_key resource does not require a project id and I'm wondering if the provider doesn't check to see if a project of the same name exists.

[2018-01-26 14:41] t0mk commented on #44
on a second look, it's broken AF, and there's no easy fix, except for disabling the payment_method field.

To fix, I'd first need to add reading of payment_methods to packngo, (which also requires organizations support I think), and then capture these things in this TF provider.

I will link relevant issues and pr.

[2018-01-26 15:11] t0mk commented on #44
It seems it's crashing on update of the payment method in a project. I don't even know if it's legit operation, but as the payment_method is not read by packngo from the API, it should not be used in the provider.

[2018-01-26 15:12] t0mk commented on #44
Relevant issue in packngo: https://github.com/packethost/packngo/issues/60

[2018-01-26 15:58] t0mk commented on #4
@pgporada I tried with your conf, I was not able to reproduce. TF v0.11.2, and newest provider.

In order to have TF consider resources, which were not created by it, you'd need to import them to current state before `tf apply`.
https://www.terraform.io/docs/import/usage.html

.. otherwise TF will not consider them. Also, you can't specify ID in resource declaration, ID is implicit `computed` para

[2018-01-26 16:01] t0mk commented on #39
fixed by #23

[2018-01-26 16:01] #39 closed

[2018-01-26 16:02] #8 closed

[2018-01-26 16:02] #36 closed

[2018-02-09 19:16] zakhark opened #45 "resource packet_project doesn't support import"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.3
+ provider.packet v1.2.0

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_project

### Terr

[2018-02-10 16:19] grahamc opened #46 "Updating `ipxe_script_url` "works" but doesn't actually work"
### Affected Resource(s)
Please list the resources as a list, for example:
 - packet_device

### Terraform Configuration Files
[code]

### Debug Output
I left this out because it was too hard to strip out the secrets.

### Panic Output
na

### Expected Behavior

Running terraform apply should update the PXE URL configured for the host.

### Actual Behavior
What actually happened?

[code]

but the

[2018-02-12 05:30] zakhark commented on #45
Thanks for the prompt reply, @t0mk

TF import does fail to import project by ID.
But looking at https://www.terraform.io/docs/import/importability.html I see that none of packet resources are listed so probably it's an expected behavior. It would be nice if imports were supported though.

[2018-02-12 16:20] t0mk commented on #45
@zakhark, OK, let's keep this open unti the import is possible. I will not be able to touch this until at least the end of this week.

Did you solve your use case? If I'd like to refer to project ID in my TF templates, I'd rather define a variable, than import an existing project (https://www.terraform.io/docs/configuration/variables.html), but of course there might be scenarios where project impo

[2018-02-20 14:06] BRMatt opened #47 "Provider crashes when trying to rename ssh key"
### Terraform Version

[code]

### Affected Resource(s)
- `packet_ssh_key`

### Terraform Configuration Files

[code]

You can generate the ssh key using

[code]

### Debug Output

Panic output is at the end of the gist

https://gist.github.com/BRMatt/23051b8816a2f75175f1f86fb48bea95

### Expected Behavior

The Packet provider should've renamed the ssh key, and updated the state file.

### Actual

[2018-02-26 14:24] t0mk commented on #47
@BRMatt Thanks for the report. I am looking at this and I see what the culprit is. I will try to fix it by today.

[2018-02-26 15:29] t0mk commented on #47
OK, this goes deeper - to https://github.com/packethost/packngo

[2018-02-28 12:03] t0mk commented on #46
hi @grahamc thanks for the report.

Before I fix this, I would like to ask for your input:
In #41 we discussed whether there's a sense in updating the PXE URL on a device - if you want to boot from a different pxe image, maybe you actually need a fresh device.

In other words - Can you come up with a scenario where you _really_ want to update PXE URL without re-creating the device?

[2018-02-28 13:02] #42 closed

[2018-02-28 13:31] grahamc commented on #46
Note that while I do strongly believe that this is a viable and useful workflow, I wouldn't be offended if Terraform didn't support it. I understand Terraform's model creates natural restrictions in how flexible a provider can be, and you need to make decisions on how this provider works.

The root of the issue for me is that Terraform says it can update the PXE URL, tries to, says it _did_ update

[2018-02-28 13:32] grahamc commented on #46
P.S. I find this provider useful, and I'm glad it exists. Thank you for your work on it, it makes a big difference to me.

[2018-03-05 19:29] t0mk opened #51 "Import-ability of existing resources"
It would be good if existing Packet resources would be importable. Then, users could refer to a device/volume/project created out of Terraform by importing in to the TF state.

It might lower the entry barrier - user first imports existing infra, to see if TF works for her.

TF doc: https://www.terraform.io/docs/import/importability.html

I will track import-ability status here.

#45 reports lack

[2018-03-06 19:48] #46 closed

[2018-03-06 20:42] grahamc commented on #46
Thank you a lot!

[2018-03-07 14:26] #44 closed

[2018-03-22 18:38] atosatto opened #54 "Support for Layer2 networks"
Hi there,

I am using Terraform and Packer to automate the creation of VMWare clusters.
For this specific purpose, it would be great to have in the Packer provider support for Layer2 networks.

Thanks.

[2018-04-12 11:56] ae-v opened #56 "provider not able to update always_pxe"
### Terraform Version
Terraform v0.11.6
+ provider.packet v1.2.0

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device

### Terraform Configuration Files
[code]

### Expected Behavior
An update of the attribute is done on a packet_device. Throw an error when applying if the update fails.

### Actual Behavior
Terraform neither updates the device nor the state.

[2018-04-12 17:31] bzub commented on #56
Thanks for reporting this @ae-v. I've opened an issue in the packngo repo where the bug appears to originate: https://github.com/packethost/packngo/issues/66

[2018-04-13 09:58] t0mk commented on #56
hi, thanks for reporting @ae-v and thanks for fixing the culprit @bzub.

I merged the fix to packngo. Later today I try to bump packngo in the provider and verify this issue. There's been a couple of changes in packngo, so it might take a longer time to integrate.

[2018-04-16 09:51] t0mk commented on #56
@ae-v Can you please verify that this is fixed?

[2018-04-16 16:06] ae-v commented on #56
Yes, it doesn't work with terraform-provider-packet_v1.2.1.

I tried to set a device from always_pxe: "true" => "false" but it's neither written to state nor updates the device at Packet.

[2018-04-16 21:17] t0mk commented on #56
ok, that's strange, as I wrote a test case exactly for this: https://github.com/terraform-providers/terraform-provider-packet/blob/master/packet/resource_packet_device_test.go#L120

I will test with HCL from your first comment, and then change the always_pxe to false.

[2018-04-16 21:43] t0mk commented on #56
I am going to sleep now, so I mark this here - the culprit seems to be:
[code]

Because `false` is a default for `always_pxe`, the DeepEqual with the default UpdateRequest is true (if  the only attr changed is `always_pxe`), and thus HTTP call is skipped.

This is going to happen for any other single field update to the fields default.

Temporary workaround: change something else together with `al

[2018-04-17 12:43] #56 closed

[2018-04-17 16:09] ae-v commented on #56
Now it works in both directions. Great! Thanks a lot for your effort.

[2018-04-24 07:25] t0mk opened #59 "Spot-Market-Bid support"
In Packet API, there's now support for permanent Spot Market Bid:
https://www.packet.net/resources/changelog/persistent-spot-market-bid/

Previous attempt to support Spot Market Device (a different resource) was rejected because it didn't fit the TF state: #27.

Hopefully, the Spot-Market-Bid is more of a permanent resource, and closer to the (TF-supported) EC2 Spot Instance Request; making it eas

[2018-04-24 07:39] radeksimko commented on #59
Based on the article and relevant API docs at https://www.packet.net/developers/api/spotmarketrequest/ it looks like it is what we need to implement it properly. I was unable to verify that these spot requests do not disappear when instances are terminated. I will assume that's just given and "obvious" though.

So I think we're in a good state to implement this as `packet_spot_market_request` reso

[2018-04-24 21:10] johnstudarus opened #60 "Provider Packet doesn't update volume sizes"
When a Packet volume size attribute is modified, Terraform indicates it will update the volume (with a ~) but no change happens.

Terraform will perform the following actions:

  ~ packet_volume.ETN_2
      size:      "15" => "25"

It appears the resourcePacketVolumeUpdate doesn't actually update the size. The Packet API does support volumes size updates. This function needs to be updated to inclu

[2018-04-25 09:05] t0mk commented on #60
Hey @johnstudarus thanks for reporting.

Yeah, volume update is broken, there's only legacy functionality. I will try to fix this today/tomorrow.

[2018-04-25 15:34] #60 closed

[2018-04-25 15:36] t0mk commented on #60
this will be fixed in next release.

@johnstudarus are you comfortable installing provider from this repo? It would be nice to verify.

I wrote tests, but it's always better to review manually.

[2018-04-25 16:19] vielmetti opened #62 "Create projects under organizations?"
There is support now in the `packngo` API at https://github.com/packethost/packngo/pull/61 for creating projects under specific organizations.

It's not clear to me looking at the docs or at the release notes if this support has made its way into Terraform yet. The report is that all newly created projects in Terraform are created in the default organizations. This is using v1.2.2.

[2018-04-25 18:31] miry commented on #62
@t0mk pls check my pr: https://github.com/packethost/packngo/pull/71

[2018-04-25 21:21] vielmetti opened #64 "Ability to restore a snapshot on a volume [ENG-368]"
Packet's web interface includes the ability to restore a snapshot on a storage volume. The overview of the volume service is at https://www.packet.net/bare-metal/services/storage/ .

There's a "volumes" interface in the Packet Go API, `packngo`, at https://github.com/packethost/packngo/blob/master/volumes.go

The developer API has (blank) pages at

* https://www.packet.net/developers/api/volumeatt

[2018-04-26 15:11] vielmetti commented on #64
Thanks @t0mk - I'll get answers to these questions before we can proceed.

[2018-04-27 10:27] t0mk commented on #62
fixed by #63

[2018-04-27 10:27] #62 closed

[2018-04-27 19:07] vielmetti opened #66 "Improved error messages"
I'm trying to sort out what is going on with the CNCF cross-cloud CI system for Kubernetes, which uses Terraform to set up resources. (http://cncf.ci) As a piece of that I'm looking through logs and come up blank because some of the error messages are not as good as they might be.  See e.g. from https://gitlab.cncf.ci/cncf/cross-cloud/-/jobs/81265

[code]

[2018-04-27 20:13] vielmetti commented on #66
Bringing this to the attention of @t0mk - the question I have is whether the Packet API is correctly throwing an error or not, or if Terraform is silently discarding it.

[2018-04-28 09:08] t0mk commented on #66
you cna try to set TF_LOG=DEBUG env var for the terraform runs (especially for `terraform apply`) to see more of what's going on.

Or you could investigate from the Packet API side, and see what's happens there on the tf run.

Otherwise, it's impossible to say what's going on without the HCL files - that's why they are mentioned in the Issue Template for every TF provider.

[2018-04-30 12:35] vielmetti commented on #66
Thanks @t0mk . All of the provisioning parts for this system are in the https://github.com/crosscloudci/cross-cloud repo, especially https://github.com/crosscloudci/cross-cloud/tree/master/packet

[2018-05-02 12:38] t0mk commented on #66
@BRMatt thanks, for the submission.

I just tried to create device with underscore in the name, so that I get API error, and the `terraform apply` will show:

[code]

Do you have any idea what the error could be, so that I can replicate and debug this? I don't suggest you use TF_LOG=DEBUG all the time, maybe just once, to see what is causing the mute message.

[2018-05-07 15:17] vielmetti commented on #54
My assumption is that being able to exercise this set of functions

https://help.packet.net/technical/networking/layer-2-configurations

from Terraform is the goal.

[2018-09-10 06:26] matti commented on #38
https://github.com/terraform-providers/terraform-provider-packet/issues/59

[2018-09-17 12:54] jasmingacic commented on #38
#72 This has been implemented with this PR.

[2018-09-17 12:55] jasmingacic commented on #59
I've added the resource #72

[2018-09-17 13:01] jasmingacic commented on #41
This seems to be fixed. Can someone close the issue?

[2018-09-17 13:02] jasmingacic commented on #47
This seems to be fixed. Can we close this issue?

[2018-09-17 13:04] jasmingacic commented on #31
@bzub The BGP feature is supported with in the API but there seems to be a problem with delete. There is a pending PR https://github.com/packethost/packngo/pull/90

[2018-09-17 13:05] jasmingacic commented on #32
@kphatak This doesn't seems to be a Terraform issue but rather with the platform itself.

[2018-09-18 15:19] #41 closed

[2018-09-20 12:49] edevenport commented on #47
@BRMatt Can you verify this issue has been corrected now and close the ticket if it has? Thank you.

[2018-09-21 09:28] jasmingacic commented on #66
@vielmetti This one is really hard to replicated. I noticed that the code is capturing all possible errors that might come from the API. So I believe that in some occasions API doesn't return any error messages.

Should we close this one?

[2018-09-23 02:13] vielmetti commented on #66
Hi @jasmingacic - I'm OK with closing this out for now, with the notation that if the problem reappears we'll aim to chase it from the Packet API side and not the Terraform side.

[2018-09-23 02:13] #66 closed

[2018-09-26 22:37] #4 closed

[2018-09-26 22:37] pgporada commented on #4
We stopped using Terraform so I'm unsure if it's still a problem.

[2018-09-27 12:10] jasmingacic commented on #51
@t0mk can you close this since it was done with #73

[2018-10-02 11:58] jasmingacic opened #75 "[Question] Passing an ssh key when creating a device"
How can I pass an ssh key when creating a device?

[2018-10-04 15:00] patrickdevivo commented on #32
@kphatak there's now a feature in the Packet API that let's users supply a list of facilities to indicate placement preference: https://www.packet.net/developers/api/#create-a-device

That is about to be added to the golang sdk, which should make it's way into this provider

[2018-10-21 15:19] jacobsmith928 commented on #32
@patrickdevivo can you link to the packngo issue or PR for context?

[2018-10-21 17:02] patrickdevivo commented on #32
@jacobsmith928 it's already in the latest `master` branch, and will be in the next release (when we're able to cut one). Here's the relevant PR: https://github.com/packethost/packngo/pull/112

[2018-10-22 07:45] t0mk commented on #38
@matti this is done and released. Go ahead and give it a try.

[2018-10-22 07:45] #38 closed

[2018-10-22 07:45] t0mk commented on #59
this is done and released

[2018-10-22 07:45] #59 closed

[2018-10-22 07:54] t0mk commented on #54
the new link for L2 configuration:
https://packet.kayako.com/article/58-layer-2-configurations

[2018-11-15 11:04] t0mk commented on #45
project import is possible now

[2018-11-15 11:04] #45 closed

[2018-11-21 23:12] kyledrake opened #77 "Add deprovision speed improvement booleans"
https://www.packet.com/developers/changelog/deprovision-speed-improvements/

[2018-11-22 09:36] t0mk commented on #77
@kyledrake After some research, (and as silly as it sounds) I am not sure if rebooting/reinstalling a server is possible with Terraform. It doesn't have the notion of the actions, only state transitions, and the `reinstalled` state is very hard to define.

I looked at couple of other providers and there are no actions on compute resources. Would you have an example how it's done elsewhere? Have yo

[2018-12-07 20:39] pcj opened #81 "resource_packet_device delete"
Sorry if this is a bother, I was just reading your code as an example of how to write a provider.  I thought that the delete method was supposed to `d.SetId("")`, but I didn't see it here.  Is it an oversight?

https://github.com/terraform-providers/terraform-provider-packet/blob/433a7a2c4edcf9f43f05d32cd59d50c571b4181f/packet/resource_packet_device.go#L430-L438

[2018-12-08 11:21] t0mk commented on #81
Hi @pcj, thanks for checking out our provider! It's good to have a review.

The SetID is optional. From
https://www.terraform.io/docs/extend/writing-custom-providers.html#implementing-destroy:

[...]It is not necessary to call d.SetId(""), since any non-error return value assumes the resource was deleted successfully.[...]

[2019-01-29 10:56] eloycoto opened #90 "Device recreated if the facility is "any""
Hi there,

With the lastest terraform  and provider.

If I use facility "any" the device is created correctly, but when I tried to scale that facility it will not work as expected, the node that I already have it will change due the facility change.

Here you havea a `terraform plan` example:

[code]

The idea is to have something that if the facility is `any` the device does not need to be recrea

[2019-01-29 11:30] t0mk commented on #90
hi @eloycoto thanks for your report. You are right that faclity "any" is not handled properly in the provider. It's because `facility` is not a Computed field and has ForceNew flag set. When it changes from the API, Terraform will try to recreate the device resource. I need to blacklist "any" in the facility.

As for the functionality that "any" provides, this will be added in #83.

[2019-01-29 16:27] jeffbrl opened #91 "Add global IPv4 IP address functionality to packet_reserved_ip_block resource"
The packet_reserved_ip_block resource currently creates a public IPv4 address. I'd like to see the resource enhanced such that the user can create a public IPv4 or global IPv4 address.

[2019-02-01 10:42] t0mk commented on #90
@eloycoto for the moment (release 1.2.6), I whitelisted only facility strings. `any` just doesn't work with the provider yet. I understand there's a need for the random-available facility selection, and I am looking for a way to get it through in Terraform.

It's not a technical problem as such, but the HashiCorp engs just don't like behavior of the `any` attribute. And indeed, it's unprecedented

[2019-02-01 15:18] eloycoto commented on #90
@t0mk what about facility can be an array instead of a single string? Packet.net support array for facility:
https://www.packet.com/developers/api/#create-a-device

[2019-02-01 15:57] t0mk commented on #91
@jeffbrl thanks for your submission. I don't understand what do you miss in the resource. Can you please illustrate?

[2019-02-01 16:07] t0mk commented on #90
@eloycoto I know. I had it done with a comma-separated-list in a string, but it was pushed back by Hashicorp eng:
https://github.com/terraform-providers/terraform-provider-packet/pull/76#pullrequestreview-179394967

A new `facilities` array would be a bti clumsy in the way that, at the moment, it's not possible to properly detect change in list attribute, so if you'd have
[code]
.. then run `terra

[2019-02-01 16:11] jeffbrl commented on #91
Tony from Packet explained to me on the slack channel that packet_reserved_ip_block does not include a flag to create a global IPv4 address. It currently only creates a public IPv4 address.

[2019-02-01 16:31] eloycoto commented on #90
@t0mk main issue that we have:

Packet.net does not have enough server in EWR, so we need to switch to other location, when we do that the servers need to be recreated, and the older ones can take hours to finish, so Terraform is locking our autosacaling for a lot of time.

For me, if the facility is an array, and if the device is already created in one of defined facilities the device shouldn't n

[2019-02-01 18:21] t0mk commented on #91
@jeffbrl I will take a look on the Public vs Global addresses on Monday.

[2019-02-01 19:56] t0mk commented on #90
@eloycoto I see. Sorry to hear the provider is locking you down :(.

I will take a look on it on Monday, and will try to
* make `facility` Deprecated and Optional
* add a new `facilities` attribute - TypeList, ForceNew and Optional attribute, conflicting with `facility`

Let's see how it will roll.

[2019-02-01 19:57] t0mk commented on #90
,, `facilities` would allow `any` as well

[2019-02-04 12:12] eloycoto commented on #90
@t0mk works for me :-)

[2019-02-04 22:55] appilon opened #94 "[PROPOSAL] Switch to Go Modules"
As part of the preparation for Terraform v0.12, we would like to migrate all providers to use [Go Modules](https://github.com/golang/go/wiki/Modules). We plan to continue checking dependencies into vendor/ to remain compatible with existing tooling/CI for a period of time, however go modules will be used for management. Go Modules is the official solution for the go programming language, we unders

[2019-02-05 14:36] t0mk commented on #94
:+1:

[2019-02-08 11:40] #90 closed

[2019-02-15 12:53] #94 closed

[2019-02-15 15:32] #47 closed

[2019-02-15 15:34] t0mk commented on #31
closed by #88

[2019-02-15 15:34] #31 closed

[2019-02-17 00:59] johnstudarus commented on #75
You'll want to use the SSH Key Resources. Please see the docs here:

https://www.terraform.io/docs/providers/packet/r/ssh_key.html

For a concrete example, please see:

https://github.com/packet-labs/Packet-Terraform-Project-Boilerplate/blob/master/packet_ssh_key.tf

[2019-02-17 19:25] cyber-cyborg999 opened #107 "How to find the access_public_ipv4 for packet_spot_market_request"
Hi,

I am trying to find the public ip address space of the device which was created with packet_spot_market_request. I was able to find the id of the spot request but i was not able to find the instance IP details after it was created. I have included "wait_for_devices"  = "True" in the tf file and tried to output the access_public_ipv4 of the device by using the instance_parameters but i am not

[2019-02-18 12:03] t0mk commented on #107
@cyber-cyborg999 Thanks for reporting, it's indeed important to find out the IPs of the running devices in the spot market requiest. We modeled the resources after
https://www.terraform.io/docs/providers/aws/r/spot_fleet_request.html
.. so I will check how people connect to instances in fleet in AWS from Terraform, and try to summarize it here, and maybe in the packet_spot_market_request doc.

[2019-02-18 16:08] t0mk commented on #107
@cyber-cyborg999 After some research and talking with HashiCorp eng, it seems that the way to do this will be a datasource for `packet_device` (which needs to be written), plus using tags (which seems not supported in the `spot_market_request` at the moment). Both will be done.

Then, the problem will have a similar solution as this:
https://stackoverflow.com/questions/50427287/when-terraform-appl

[2019-02-18 17:38] cyber-cyborg999 commented on #107
Hi @t0mk ,

Thank you for your reply. Is there a tentative date this datasource will be available ? And can you help me understand what inputs will be taken by the `packet_device` datasource to give the IP address result ? Currently the `spot_market_request` result is the id of `spot_market_request` which i am assuming will not be helpful to get the details i requested.

[2019-02-18 19:03] johnstudarus opened #108 "isNotFound doesn't work"
Per @t0mk , the isNotFound error routine doesn't work. Just a place holder until he can elaborate or someone else tries it out.

[2019-02-18 19:05] johnstudarus opened #109 "enable SpotMarketRequest"
Currently, this test is disabled possibly related to API/Platform issues. It needs to be re-enabled.

https://github.com/terraform-providers/terraform-provider-packet/commit/4f58b1d9b11f48a7fe1f72e26e1abe1072cd4ca0

[2019-02-18 22:02] johnstudarus commented on #108
isNotFound on some places in the provider code. it's called when you create a resource with Terraform, then remove it out of TF (maybe via portal), and then call terraform again (not sure if terraform plan is enough, maybe refresh or even apply).

The general provider policy is: In the Read function, if the resource is not found by ID, the Read function should SetID("") and return nil.

The challe

[2019-02-18 22:15] atoonk opened #110 "BGP enable / disable flap when changing count"
Hi,
i'm using this as an example to create new instances and enable bgp using terraform
https://www.terraform.io/docs/providers/packet/r/bgp_session.html

it seems that if i change the compute count to a different number, it temporarily changes disables the BGP sessions for other servers in that facility.

Note that i don't yet have a bgp daemon running, so the BGP status is down.
I can see in the

[2019-02-18 22:34] atoonk commented on #110
never mind.. when I changed my terraform slightly it seems to fix it.
not sure why, but does the job

modules/compute/cluster.tf

to
[code]

[2019-02-18 22:34] #110 closed

[2019-02-18 23:03] johnstudarus commented on #108
The following four Read instances are not checking isNotFound. This code needs to be modified with the isNotFound checking...

packet/resource_packet_reserved_ip_block.go
packet/resource_packet_spot_market_request.go
packet/resource_packet_volume_attachment.go

[2019-02-19 14:26] t0mk commented on #107
@cyber-cyborg999, I guess I could have it released maybe in a week or two.

The idea is that I would add a new datasource `packet_devices` which would be used just like this from aws:
https://www.terraform.io/docs/providers/aws/d/instances.html
.. the datasource would export at least 3 lists of public_ipv4s, private_ipv4 and public_ipv6

You could use device_tags as a filter in the datasource. I g

[2019-02-19 20:13] #108 closed

[2019-02-20 11:49] t0mk commented on #109
I removed that commit from the PR - the Spot Market Request test is enabled again

[2019-02-20 11:49] #109 closed

[2019-02-20 11:59] t0mk commented on #91
fixed by #128 and released yesterday. @jeffbrl check from
https://www.terraform.io/docs/providers/packet/r/reserved_ip_block.html
.. the `type` argument.

Please close this issue if you think it's resolved.

[2019-02-20 12:14] t0mk commented on #75
Now it's possible with
https://www.terraform.io/docs/providers/packet/r/project_ssh_key.html

[2019-02-20 12:14] #75 closed

[2019-02-20 12:15] t0mk commented on #32
@kphatak now this is possible with
https://www.terraform.io/docs/providers/packet/r/device.html#facilities

[2019-02-20 12:15] #32 closed

[2019-02-21 11:47] jeffbrl commented on #91
Possible operator error on my part. "terraform init" isn't downloading 1.4.0

provider.packet: version = "~> 1.3"

[2019-02-22 11:48] jeffbrl commented on #91
'terraform init -upgrade' did the trick. Testing now.

[2019-02-22 14:54] jeffbrl commented on #91
@t0mk I am able to allocate global_ipv4 addresses in supported sites. Thanks for this enhancement.

[2019-02-22 14:54] #91 closed

[2019-02-22 19:21] cyber-cyborg999 commented on #107
Hi @t0mk ,

I have cloned the latest code from github built it and then tried using packet provides. even after building and using the new one, I am unable to use the datasource `packet_device`

![image](https://user-images.githubusercontent.com/13641169/53265762-092fc300-3705-11e9-8685-249cadb62ba8.png)

Here is how i tried this:
![image](https://user-images.githubusercontent.com/13641169/5326582

[2019-02-22 19:28] t0mk commented on #107
@cyber-cyborg999, it's not done yet - I have a branch in development #113. I will update this issue when it's done.

[2019-02-23 11:41] cyber-cyborg999 commented on #107
Thank you for looking into this.

Sent from my iPhone

[2019-02-24 21:24] jacobsmith928 commented on #54
Updated doc url:
https://support.packet.com/kb/articles/layer-2-overview

[2019-02-26 15:42] shanedizer commented on #54
we also have heavy automation around our packet infrastructure, and this would greatly deployments of our openstack infra..

[2019-02-26 22:37] t0mk commented on #54
This will be fixed by #86.

I still need to figure the covert to  the pure L2 mode, the last (3rd) use case from
https://support.packet.com/kb/articles/layer-2-configurations

I will make it a priority. Hopefully this comes soon.

Also, if you want to give early feedback, check the example L2 templates in
https://github.com/t0mk/packet-l2-terraform

[2019-03-04 20:27] shanedizer commented on #107
I dont really use spot market instances, but the below works for me to output the Public IP of a new server..

resource "packet_device" "test-device" {
  hostname         = "test-device"
  plan             = ""
  facility         = ""
  operating_system = ""
  billing_cycle    = ""
  project_id       = "”

output "public_ip" {
  value = "${lookup(packet_device.test-device.0.network[0], "address")}

[2019-03-07 14:41] dopry opened #118 "Terraform 0.12 Support"
It would be nice if the provider support Terraform 0.12. As of 2019/03/07, [Terraform 0.12 is in beta](https://www.hashicorp.com/blog/announcing-terraform-0-1-2-beta1).

It brings a number of [features that simplify complex terraform configurations and improve the general developer experience](https://www.hashicorp.com/blog/terraform-0-1-2-preview) with Terraform.

[2019-03-07 16:22] t0mk commented on #118
@dopry Thanks for filing the isue. We will track the progress on 0.12 update here.

[2019-03-20 12:23] mikesimos opened #124 "Unable to replace reserved instances"
### Terraform Version
`0.11.13`

### Affected Resource(s)
Please list the resources as a list, for example:
- `packet_device`

### Terraform Configuration Files
[code]

### Panic Output
[code]

### Expected Behavior
The device should have been reprovisioned, reusing its hardware reservation.

### Actual Behavior
`terraform apply` failure. Success was **not** possible for several minutes, even with

[2019-03-20 12:32] t0mk commented on #124
@mikesimos Thanks for reporting this, I will take a look!

[2019-03-20 12:34] mikesimos commented on #124
Thank you @t0mk!  To add some context, after one hour or so, I was able to use the released hardware reservation without issues via tf. It's just that this behavior complicates operations.

[2019-03-20 13:03] t0mk commented on #124
@mikesimos can you please drop a link to the dashboard where you see the reservation as released? I usually work with the API, I don't have good overvirew of the app.packet.net.

I have my own project with a reservation for testing.

[2019-03-20 13:07] mikesimos commented on #124
The main issue for me was that `terraform apply` just fails to update the state if we are on a reserved hardware instance.

[2019-03-20 13:24] t0mk commented on #124
I understand. Can you check what's the reservation status over the API? I mean after you destroy the device, when the `apply` fails.
`curl --silent -X GET -H "X-Auth-Token: $PACKET_AUTH_TOKEN" "https://api.packet.net/projects/<project_id>/hardware-reservations?exclude=plan" | jq ".hardware_reservations"`

.. spcifically the `provisionable` attribute? For me it takes ~4 minutes after I remove the d

[2019-03-20 13:26] t0mk commented on #124
If you want to chat, I'm online in https://packetcommunity.slack.com/messages/C9DECH3GA/

[2019-03-20 13:32] t0mk commented on #124
I could make the Delete action of device on reserved hardware (conditionally on attribute) hang until the hw-reservation is marked provisionable, that might perhaps do it for you. so you could do sth like

[code]

[2019-03-20 13:42] mikesimos commented on #124
Heya, sorry I 'm in the middle of a few things..
The api request yields (among others):
[code]
for that specific reservation for some minutes here too.

Adding a `wait_reservation_deprovision` sounds awesome! I 'm guessing it can't be the default behavior, right?

[2019-03-20 13:48] t0mk commented on #124
@mikesimos, you can only put new device to the reservation when it's `provisionable: true`. If you think it takes too long time, please create support ticket in the app.

OK, I will do `wait_for_reservation_deprovision`. I think it needs to be false by default, to keep things fast out-of-the-box.

[2019-03-20 13:49] mikesimos commented on #124
Cool! Thank you @t0mk !

[2019-03-23 18:32] johnstudarus opened #128 "reserved_ip for private IPv4"
Any reason why there isn't support for private address allocations? Seems like it would be an easy feature to add (underlying API supports it).

[code]

[2019-03-25 14:54] johnstudarus commented on #128
Interesting...

Through the GUI, you can request a private_ipv4 block by clicking on the server first and then drilling down. But if you click through from the project network, you can't get request a private_ipv4 block...

[2019-03-25 15:24] t0mk commented on #128
IIUC, from the device -> Network section in the UI, you don't request blocks, you just assign private IP from pre-allocated private IPv4 block in the facility. The private IPv4 block is allocated in the facilility when you run a device in the faciltiy.

Theoretically, it should be possible to assign IP from a block with the precreated_ip_block datasource. It might not be srtaightforward though, be

[2019-03-28 18:01] taylor opened #133 "Packet Terraform provider does not register / save server state for next-available reserved instances"
When provisioning Packet servers with Terraform using next-available option for reserved instances the servers are provisioned but no state information is saved. Running terraform again will create a new set of servers. Terraform destroy will say there are zero servers to destroy.

### Terraform information
Terraform version: 0.11.10
Packet provider plugin: 1.2.5 (~> 1.2)
Affected Resource: packet

[2019-03-28 20:19] t0mk commented on #133
hi @taylor thanks for reporting. I will take a look on this tomorrow.

[2019-03-28 20:23] taylor commented on #133
Sounds good @t0mk.  FYI, we think it could be related to a previously fixed bug: https://github.com/packethost/packngo/issues/117

[2019-03-29 12:28] t0mk commented on #133
hi @taylor, is this the issue you mentioned in the Community channel?

[code]
I am not sure if the deserialization of PortData.bonded is related to hardware reservations. Do you mean that when the `apply` run blows on the unmarshal error, the tf state is not stored, but the devices on the hardware reservations are created? That's pretty bad I guess. The content of the state files is not produced b

[2019-03-29 21:36] taylor commented on #133
/cc @denverwilliams

[2019-03-29 21:41] taylor commented on #133
@t0mk we do get this error for our k8s deployments.  We also saw the same problem w/o this error.  This only happens with the reserved instances in our account.

[2019-03-29 23:18] denverwilliams commented on #133
@t0mk here is a copy of the terraform log for the m2.xlarge reserved servers.
https://gist.githubusercontent.com/denverwilliams/c15c1102a8a10ad387024f23712566ce/raw/28eefc4934ea284c3b3bd03043b051ed16aaa7cd/terrform.debug

[2019-04-01 13:15] t0mk commented on #133
@denverwilliams @taylor Thanks for the log. I see the problem, it's an API type mismatch. I reported it to Packet folks.

I checked if this could be alleviated with the Partial state, but it seems not, SetPartial is only good for Update functions..

[2019-04-02 10:44] t0mk commented on #54
this was fixed by #86

[2019-04-02 10:44] #54 closed

[2019-04-04 15:08] dopry commented on #118
@t0mk  has begun development on 0.12 support.
[code]

[2019-04-09 17:09] BRMatt opened #138 "Terraform shows device as "still creating" even though it is active"
### Terraform Version

`11.3`

### Affected Resource(s)

- packet_device (using version 1.7.1 of the provider)

### Terraform Configuration Files

[code]

### Expected Behavior

When creating a packet device through terraform, terraform will stop waiting for the device to be created when packet.net's API reports the device as active.

### Actual Behavior

The API reports the device as ready within

[2019-04-09 17:50] t0mk commented on #138
Hey @BRMatt , thanks for submitting the issue. I will take a deeper look tomorrow.

Can you reproduce this? It would be really good to see TF debug log. You can collect it as
[code]
.. it records all the HTTP traffic, and it will show what exactly is the API sending, and why it doesn't finish. If you decide to submit the log here, please remember to remove lines with X-Auth-Token header.

Thanks!

[2019-04-09 17:54] BRMatt commented on #138
Hi @t0mk I ran that earlier and it showed that Terraform was making the API requests successfully, but the debug logs only include the request/response headers, not the response body. Is that what you want to see?

[2019-04-09 18:14] BRMatt commented on #138
And yes, currently this is very reproducible.

[2019-04-09 18:38] BRMatt commented on #138
Ok, I realised that `TF_LOG=trace` dumps the response bodies, so I was able to capture this: https://gist.github.com/BRMatt/d7c6a855d4dcc90a580333a5a33f72c1

The device became ready in the packet.net terminal ~5-10 minutes ago, but it's still stuck in this loop.

If it's useful, this machine is a c2.medium.x86, provisioned in nrt1

[2019-04-09 19:24] t0mk commented on #138
@BRMatt Thanks for the debug log.

I think the problem is that the packet_device module also waits for `network_type` to be `layer3` (You can see network type in app.packet.net in the sever detail, in the network tab.)
The API reports it to be still `layer2-bonded` but it's in fact `layer3`. I don't know if you can about the network type. Anyway, this issue is caused by this API bug:
https://githu

[2019-04-10 12:46] #138 closed

[2019-04-10 14:17] gregswift opened #141 "device import missing data points"
### Terraform Version
[code]

### Affected Resource(s)

* packet_device

### Terraform Configuration Files
[code]

### Debug Output
will provide if needed

### Panic Output
No panic

### Expected Behavior
I imported a resource and i expected subsequent plan/apply to not have to rebuild that working resource.

### Actual Behavior
Terraform wants to rekick the device because of the ID and facilities

[2019-04-10 14:22] gregswift commented on #141
I manually munged the state... the difference was:

bad/imported:
[code]
good/munged:
[code]

And then everything was fine. so this should be an easy fix.

[2019-04-10 18:39] t0mk commented on #141
@gregswift thanks! I will take a look tomorrow.

[2019-04-11 03:43] gregswift commented on #141
I updated the snippet.. the problem is that it imports to facility, but our config uses facilities.  Isnt facility being deprecated?

[2019-04-12 10:36] t0mk commented on #133
@denverwilliams @taylor I heard this was fixed in the Packet API. Could you please test again, and close this issue if the `terraform apply` goes through, and your devices are created properly?

[2019-04-15 19:42] #141 closed

[2019-04-30 11:08] #118 closed

[2019-05-06 13:01] invidian opened #146 "Improve error message on wrong project ID"
Currently, if specified project ID is incorrect and you try to create a device, Terraform only throws following message:
[code]

Which is very misleading.

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device

### Expected Behavior
Terraform should inform user, that project with given ID is not found.

### Actual Behavior
Terrafor

[2019-05-06 14:56] t0mk commented on #146
hey @invidian thanks for reporting this.

I am not sure if we can do sth about this, because the device creating POST is going to /projects/<project_id>/devices, and thus the 404 is a legit HTTP response.

But I think that the 404 only comes when the project doens't exist, so I can extend the err message a bit.

[2019-05-06 15:16] t0mk commented on #146
it will be fixed by #147, I hope this can wait till next provider release

[2019-05-06 15:22] #146 closed

[2019-05-08 15:13] radeksimko opened #149 "Retry on request timeout"
I'm frankly not sure if this issue belongs here or to https://github.com/packethost/packngo

Most other popular Terraform providers perform retries themselves on top of bare SDK. Although some popular SDKs do implement some configurable retry logic based on HTTP codes (namely AWS SDK).

### Versions

- Terraform `v0.12.0-rc1`
- Packet provider `v2.1.0`

### Affected Resource(s)

`packet_device`, b

[2019-05-09 11:12] t0mk commented on #149
@radeksimko thanks for reporting, I will take a look tomorrow. I'm also hesitating if this should be done in packngo or here. Do you know of any simnple provider doing the retries on it's own?

[2019-05-09 11:15] t0mk commented on #149
I've just checked digitalocean, they don't seem to do any retrying whatsoever.

[2019-05-31 08:41] lobkovilya opened #153 "Terraform apply fails"
### Terraform Version
`0.12.0`

### terraform-provider-packet version
`2.1`

### Terraform Configuration Files
[code]

### Debug Output
[packet_terraform_debug_log.txt](https://github.com/terraform-providers/terraform-provider-packet/files/3240441/packet_terraform_debug_log.txt)

### Expected Behavior
Successfully deployed resources, `terraform apply` exit with code 0

### Actual Behavior
`terrafo

[2019-05-31 08:50] t0mk commented on #153
hi @lobkovilya , thanks for the report. I'll take a look today or on Monday.

[2019-05-31 09:17] t0mk commented on #153
there seems to be a problem wiht Varnish cache, this respose:

[code]

.. just need to find out what request triggered this.

[2019-05-31 09:27] t0mk commented on #153
It's the master1 device creation request that triggers the 503 HTTP error. There's nothing special about the device (or the request), so I am guessing it's something in the API, maybe some race condition with finding the free facility for deploying the device.

@lobkovilya can you try to run the terraform apply with `-parallelism=2`, maybe it's the concurrent requests that trigger the 503.

Anyway

[2019-05-31 09:28] lobkovilya commented on #153
Additional logs that I caught on 2.2 version:

[logs_debug_on_2_2.txt](https://github.com/terraform-providers/terraform-provider-packet/files/3240646/logs_debug_on_2_2.txt)

Maybe it will be useful

[2019-05-31 09:29] lobkovilya commented on #153
Thank you, @t0mk! I'll try with `-parallelism=2`

[2019-05-31 09:30] t0mk commented on #153
@lobkovilya also, do you understand that if you pass `facilities = ["sjc1", "ewr1", "ams1"]`, the device will be deployed to first free facility form the list. Considering your setup, it might happen that the devices each end up in different facilities.

[2019-05-31 09:34] lobkovilya commented on #153
@t0mk yes, it was my first assumption when errors appeared, I thought there is no available resources in particular facility, that's why I added additional facilities. But actually it's okay for our setup even if devices deployed to different facilities

[2019-05-31 12:04] t0mk commented on #153
@lobkovilya from the logs_debug_on_2_2.txt there's a 403 HTTP Error now, on the master2 device:
[code]
.. it's cut just before the error message, but I guess the message is `provisioning time limit exceeded; the Packet team will investigate`

This is not a terraform issue as such, so I suggest you create a Packet support ticket in the app, or reach to packet people in their community Slack:
https:

[2019-05-31 12:05] t0mk commented on #153
.. if you create the support ticket, please include the vebatim HTTP errors from my comments

[2019-06-06 06:56] Mierdin opened #154 "Packet SSH key resources consistently raising errors on creation attempt"
### Terraform Version

`Terraform v0.12.1`

### Affected Resource(s)

- packet_ssh_key
- packet_project_ ssh_key

### Terraform Configuration Files

Using the [example in the docs](https://www.terraform.io/docs/providers/packet/r/ssh_key.html)
as guidance:

[code]

### Debug Output

[This is the output](https://gist.github.com/Mierdin/f590c74c1498974d2783dd8602d23979) I see from two subsequent run

[2019-06-06 08:30] t0mk commented on #154
hi @Mierdin, thanks for reporting, I wil take a look today.

[2019-06-06 08:59] t0mk commented on #154
@Mierdin
- Your first `apply` is strange, the provider should not err when the key doesn't exist. It should just create it.
- The second apply is also strange, because if the key exists, the provider should just omit any action. This error (`Error: Key already exists`) might happen when you have already SSH key resource with the same `public_key` string  in the API, but under a different name.  It

[2019-06-06 11:27] radeksimko opened #155 "data/packet_operating_system: Incorrect error handling"
### Terraform Version

[code]

### Terraform Configuration Files
[code]

### Expected Behavior

[code]

### Actual Behavior

[code]

### Steps to Reproduce

1. `terraform apply`

---

I'm not sure if this is an API bug or provider bug - I haven't done any debugging at all, but it looked confusing enough for me to at least file it as an issue.

I assume it would be helpful if the "more than one" er

[2019-06-06 11:33] t0mk commented on #155
@radeksimko thanks I will take a look

[2019-06-06 12:52] t0mk commented on #155
@radeksimko I fixed this in #156. If you have time, please review the linked PR.

[2019-06-09 22:41] Mierdin commented on #154
Forgive the delayed response, I was working on this with Packet support. Nothing wrong with the provider, so I'll close this issue after a brief explanation. In short, I was using an API token defined at the project scope, and defining a user-level SSH key. Moving to a personal API token fixed this, but I still have some lingering thoughts:

- The error message provided is very non-descriptive reg

[2019-06-09 22:41] #154 closed

[2019-06-27 13:41] ognots commented on #154
I've experienced this and thought the provider was straight up broken. the error message should definitely mention that personal api keys must be used.
As a secondary note, this makes running this provider from CI less than ideal. generally we use project api keys rather than personal ones in CI

[2019-07-17 10:41] #155 closed

[2019-08-07 12:32] #124 closed

[2019-08-07 13:39] t0mk commented on #124
Hey @mikesimos, we just had a new release of the provider. Please check if this arg:
https://www.terraform.io/docs/providers/packet/r/device.html#wait_for_reservation_deprovision

will fix this issue for you. Thanks!

[2019-08-13 08:43] morenod opened #163 "Add description to the "packet_reserved_ip_block" resource type"
Elastic IPs supports description when creating them, but `packet_reserved_ip_block` module doesn't have this parameter created.

[2019-08-14 14:41] t0mk commented on #163
hey @morenod, thanks for reporting, I fix this in #166.

It will be out in next release of the provider, probably within a couple of weeks. I could ask for release earlier if you really need to use this. Let me know.

[2019-08-14 14:43] #163 closed

[2019-08-30 19:59] jmarhee opened #167 "Error Message Missing on State Error"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
[code]

### Affected Resource(s)
packet_device

### Terraform Configuration Files
Not specific to any one configuration

### Debug Output
https:/

[2019-08-31 07:59] t0mk commented on #167
Hey @jmarhee Thanks for reporting. I will take a look next week.

[2019-09-20 14:20] hashibot[bot] opened #168 "Update TF/Packet documentation: hardware_reservation_id"
_This issue was originally opened by @carpejem as hashicorp/terraform#22857. It was migrated here as a result of the [provider split](https://www.hashicorp.com/blog/upcoming-provider-changes-in-terraform-0-10/). The original body of the issue is below._

<hr>

### Current Terraform Version

Under https://www.terraform.io/docs/providers/packet/r/device.html#argument-reference (Argument Reference) `

[2019-09-23 09:26] t0mk commented on #168
fixed by https://github.com/terraform-providers/terraform-provider-packet/commit/cae724caa5d5edbf662cfeac40d45b5dd6a0be65

[2019-09-25 13:51] morenod opened #170 "Allow to specify timeout on packet_device creation"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.14

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device.

If this issue appears to affect

[2019-09-27 12:22] #168 closed

[2019-09-27 12:47] t0mk commented on #170
hi @morenod, can you please review #174, it should fix this

[2019-09-27 13:39] t0mk commented on #167
hi, @jmarhee I know that this is hard to reproduce, but I would appreciate if you could review PR #175 which should fix this.

[2019-09-27 16:16] rata commented on #133
I've used the "next-available" feature with terraform provider 1.7.2 and it works fine now. As far as I can see, there is no change to be made on packet terraform provider but it was fixed in the Packet API.

To confirm, when using "next-available" I can see that the tfstate file is updated with the reservation id (something like "111-sadasd-2sd") for the instance and no changes are required by te

[2019-09-27 16:47] rata opened #176 "Terraform sometimes fails when using "next-available" and a specific hash for hardware_reservation_id"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device

### Terraform Configuration Files
[code]

### Expected Behavior
If `"some-hash"` is a valid reservation id and there are 10 more reservations for `t1.small.x86` instances on the same facility, then:

 * 11 servers should be created
 * `packet_device.b` resource should use the r

[2019-09-29 11:01] #167 closed

[2019-10-04 10:51] rata commented on #176
The equivalent of doing `terraform apply -target` workaround is forcing a dependency.

Having a `depends_on` or similar should do the trick, to force the creation of one before the other. And if all devices with specific hashes are forced to be created before the ones with `"next-available"`, using this `depends_on` trick or similar way to achieve a dependency, this should work.

It is still very

[2019-10-08 08:38] #170 closed

[2019-10-08 08:49] t0mk commented on #176
@rata thanks for reporting. I read your description briefly and I will get back to it maybe later this week.

A quick check - are you aware that you can control tf parallelism? If you do
`terraform apply --parallelism 1` then everything willl be run sequentialy, no concurrent goroutines.

[2019-10-09 03:06] rata commented on #176
@t0mk Hi! Thanks for the answer :)

Yes, I'm aware. That will not solve the issue, though. It's not really about parallelism, it's about the order in which packet_devices are created when using hardware reservation id.

To put it short: let's say you want to create two packet device (A and B) and you have two hardware reservations on Packet ("my-id" and "other-id"). In terraform, A is specified wi

[2019-10-16 20:46] t0mk commented on #77
If you really want to do a reinstall via Terraform, you can wrap a curl command in local-exec in a null_resource, like this:

[code]

[2019-10-17 12:12] t0mk opened #180 "Fix failing TestAccPacketDevice_importBasic"
it fails in the TF TeamCity

[code]

[2019-10-23 14:20] jasmingacic commented on #180
Adding this line in resource_packet_device_test.go line 453 should fix this:
[code]

Property `wait_for_reservation_deprovision` cannot be imported from the API so Terraform populates it with default value `false` and since in the test case you don't have that field it fails when comparing.

Here is the result with the fix
[code]

[2019-10-23 15:00] jasmingacic commented on #51
@t0mk I've just been looking at some imports and I noticed that most of the resources already support imports they are only missing acceptance tests.
Do you think we could update the list to reflect actual state of the provider?

p.s. I can add missing tests

[2019-10-23 21:23] jasmingacic commented on #133
Since this seems to be resolved. We can close this one.

[2019-10-23 21:26] jasmingacic commented on #149
Since this is a specific scenario I'd keep this in the provider rather than in the SDK. If it is really necessary to have it.

[2019-10-23 21:33] jasmingacic commented on #176
This is definitely API issue. Terraform is issuing HTTP requests too quickly and the same hardware reservation gets allocated between two devices. I don't see what could be done on the TF side to fix this issue.

Let's keep this open so it can be tracked.

[2019-10-23 21:56] rata commented on #176
@jasmingacic It is **not** about HTTP request being too quickly, is just the order HTTP requests are created. And it's really not clear if it's an API issue, IMHO. The API is working as expected: the API serves the request with the params it has properly, for every single HTTP request.

Let me give another example:

[code]

The **only** way to guarantee that this terraform file will met the user e

[2019-10-23 22:57] jasmingacic commented on #176
So you just confirmed that if you pass in a specific hash it will work as expected but if you pass `next-available` it will eventually error out.
If that is the case then the API is not fetching the next available hash internally. Probably when `next-available` fetches the hash but at the same time another request happens which tries (internally)to use the same hash. This is probably because the h

[2019-10-23 23:17] jasmingacic commented on #176
Actually I re-read your comments. Disregard my previous comments

For example you've got 10 hardware reservations and you do this:
[code]
and this with a specific UUID:
[code]

Effectively you will creating 11 devices using reserved hardware of which you have 10 slots. This scenario is going to fail 100%.

[2019-10-23 23:58] rata commented on #176
@jasmingacic that is not **AT ALL** what I'm talking about. Sorry I wasn't clear.

In that example you posted, of course you have 11 reservations. See the original post that says:

So, really, that is not the case.

I think the example here is more clear, maybe. Can you please check it out: https://github.com/terraform-providers/terraform-provider-packet/issues/176#issuecomment-545653208 ?

Let me

[2019-10-24 08:29] #133 closed

[2019-10-24 08:35] t0mk commented on #51
@jasmingacic yeah, feel free to create PR and add tests for the resources with importer. I think the tests are necessary, as some attributes break the importability, as with the `wait_for_reservation_deprovision` in `packet_device`.

[2019-10-24 09:12] t0mk opened #182 "vlan resource tests fail"
Failing acceptance tests

Following tests notoriously fails in Hashicorp Teamcity:

They are all the L2 ports assigning tests.

TestAccPacketPortVlanAttachment_Hybrid
TestAccPacketPortVlanAttachment_HybridMultipleVlans
TestAccPacketPortVlanAttachment_L2Bonded
TestAccPacketPortVlanAttachment_L2Individual
TestAccPacketPortVlanAttachment_L2Native

The error is always

[code]

The facility must be cha

[2019-10-24 09:31] t0mk opened #183 "nil pointer deref in spot market request resource"
The state refresh func for spot market request doesn't check for err, and sometimes make the TF provider panic.

[code]

Code causing this in `resource_packet_spot_market_request.go`:

[code]

@jasmingacic do you mind takin a look? This was your code.

[2019-10-24 11:01] t0mk commented on #183
most likely caused by change of the format of the `state` attribute of the device API resource,

[2019-10-24 14:30] jasmingacic commented on #182
I've tried running tests but for whichever reason devices get stuck in "queued" state and then it errors out.

[2019-10-24 15:32] vielmetti commented on #183
attn @travisirby

[2019-10-24 18:11] jasmingacic commented on #183
I'm on it

[2019-10-25 11:38] t0mk opened #185 "import test of packet_bgp_session resource fails"
From Hashicorp TeamCity CI:

[code]

It's coming from the latter part of the test:
[code]

[2019-10-25 14:12] #183 closed

[2019-10-26 09:46] #149 closed

[2019-10-28 21:19] nurfet-becirevic commented on #51
Enable packet_ssh_key resource import #189

[2019-11-01 19:00] nurfet-becirevic commented on #185
I've just run it twice and it passed each time.
[code]

[2019-11-04 15:58] t0mk commented on #185
Hmm, it seems it was a flake. I close this then and reopen if it appears again.

[2019-11-04 15:58] #185 closed

[2019-11-04 21:46] nurfet-becirevic commented on #51
@t0mk , `reserved_ip_block`,  `ip_attachment`, `volume_attachment` and  `bgp_session` already support import. The acceptance tests for these resource cover import-ability as well.

[2019-11-05 07:30] t0mk commented on #51
@nurfet-becirevic Thanks, I updated the list. I also checked remaining resources and put them to the list.

[2019-11-05 10:59] t0mk commented on #51
I just found out there's a bit of a mess in
`resource_packet_ssh_key_test.go`
and
`resource_packet_project_ssh_key_test.go`
.. project key tests are in the user key test file. I will clean it up.

[2019-11-05 13:56] #182 closed

[2019-11-08 14:49] rata commented on #176
@t0mk  @jasmingacic friendly ping? :)

[2019-11-08 16:11] jasmingacic commented on #176
@rata This is something engineering should look into. I will gladly share this with them.

[2019-11-08 16:50] rata commented on #176
@jasmingacic thanks!

[2019-11-12 22:58] coryschwartz opened #199 "terraform cannot deprovision hosts while volumes are attached."
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
11 (I think 12 is also affected, though)

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device
- packet_vol

[2019-11-13 03:33] t0mk commented on #199
Hi @coryschwartz, thanks for your report.

You are right that you can't destroy devices with attached volumes via Terrraform at the moment. However, if you use TF resources for attaching the volume, the Packet provider should destroy them in proper order.

I have just tried to create and destroy this:

[code]
.. and both apply and destroy works OK.

But if you attach the volume out of Terraform, i

[2019-11-20 16:24] t0mk commented on #199
hi @coryschwartz, thanks for reporting, i am looking at this. do you have a tf template which would use the remote-exec provisioner (https://www.terraform.io/docs/provisioners/remote-exec.html) to attach the volume over SSH?
It would be helpful for testing. I can do it myself if you run the attach script manually.

[2019-11-29 14:04] rata commented on #176
@t0mk friendly ping?

[2019-11-29 15:36] t0mk commented on #176
@rata Right now I don't have the means to test this (enough hw reservations) but I will ask for it, and also I will ask if I can dedicate time to this.
I assume that if you have 10 hw reservations you are not-that-small of a customer?
Can I get your email, so I can CC you in email conversation?

[2019-11-29 17:04] rata commented on #176
@t0mk it can be reproduced with 1 hw reservation, though. Is just less likely :)

In any case, is the root cause understood now? I don't think it is so important to reproduce it to understand the root cause of the problem.

You can cc me with my work address: rodrigo@kinvolk.io. We have good a relationship with Packet, they surely remember me :-)

[2019-11-30 08:31] t0mk commented on #176
@rata I think you need at least 2 hw reservations to test the unconditional success of
[code]
I think I understand the root cause, but I am not sure how to fix it. AFAIK it's **not possible** to
- affect the order of created resources from within the provider code.
- specify which hw-res hash to exclude when using next-available.

Considering both of those points, I don't know how to solve this in

[2019-12-01 14:24] rata commented on #176
@t0mk oops, right, 2 hw reservations. Sorry :)

Yeah, I don't know either. I'm not sure it is possible

Yeah, I'm not sure if some other tricks can be used.

For example, as I mentioned before, the Packet API has a batch option. If the packet batch api can be used and if all requests are submitted at the same time the Packet API might be able to handle that correctly.

I don't think terraform prov

[2019-12-01 19:24] t0mk commented on #176
Hey @rata, thanks for your comment.

You are right that there are [batches](https://www.packet.com/developers/api/#create-a-devices-batch) in the Packet API, and that the batch resource is missing in the provider. I've never done it for obvious reason - the `count` meta-parameter for TF resource cuts most of the use-cases for batches (and there is one less resource and less code to maintain and gr

[2019-12-02 10:31] rata commented on #176
Thank you! :-)

Yes, of course :-)

you can specify the hw reservation in the batch. And even if you could use `next-available`, you would still need to ensure that it won't take the hw reservation hash that you specify later for another device, i.e. you would still need to use `apply -target` or `depends_on`.

Good point, it would not even completely solve the problem :-/

Agreed :-)

I'm not sur

[2019-12-03 20:37] coryschwartz opened #206 "bgp resource fails to provision IPV6"
### Affected Resource(s)
Please list the resources as a list, for example:
- packet_bgp_session

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output

The first run
[code]

and then subsequent runs:
[code]

### Expected Behavior
I should be able to have BGP sessions for IPV6

[2019-12-03 22:04] t0mk commented on #206
@coryschwartz thanks for the report. I'm sad that this went through, it's my fault, sorry.

Thanks for #207 PR, I will run acceptance tests, and then merge tomorrow. New release maybe Friday 6.12.

[2019-12-03 22:27] coryschwartz commented on #206
@t0mk Thank you! :)

[2019-12-04 19:50] #199 closed

[2019-12-04 19:50] #206 closed

[2019-12-06 16:44] t0mk commented on #206
Hey @coryschwartz provider containing fix for this has just been released. Please update your provider and test :)

[2019-12-10 14:54] rata commented on #176
@t0mk Do you think we should close this?

[2019-12-10 17:54] t0mk commented on #176
Yes, as nothing else besides the docs can be done, and the docs are in
place:
https://www.terraform.io/docs/providers/packet/r/device.html#hardware_reservation_id

I think we can close this.

On Tue, Dec 10, 2019 at 4:54 PM rata <notifications@github.com> wrote:

[2019-12-11 11:04] rata commented on #176
Thanks!

[2019-12-11 11:04] #176 closed

[2019-12-11 14:02] t0mk opened #211 "terraform apply hangs if device creation takes too long time"
When creating e.g. ESXi devices (which take <15 min) to provision, the provider hangs.

The culprit is: the provider waits for the devices to get to the active state. A device with VMWare ESXi takes sometimes <15 minutes to intialize (until Packet API lists its state as "active"). The provider checks the state of the device by querying the API every 10 secs. The component responsible for the check

[2019-12-11 17:08] enkelprifti98 commented on #211
This issue was fixed for me as of Packet provider 2.7.1. @c0dyhi11 Are you still experiencing device creation hangs?

[2019-12-12 14:30] #211 closed

[2020-02-28 01:20] cromero-packet-ph opened #224 "Failed to convert device from layer3 to hybrid"
### Briefing

We're seeing this error `Error: Failed to convert device <instance_id> from layer3 to hybrid. New type was layer3` when adding the `network_type = "hybrid"` parameter to the terraform script we're using to provision an n2.xlarge.x86 server type, as derived from the documentation here: https://www.terraform.io/docs/providers/packet/r/device.html

### Terraform Version
_Tested on both

[2020-02-28 12:15] t0mk commented on #224
hey @cromero-packet-ph, thanks for the PR. What is your provider version? Latest is v2.7.5. You can check it with `$ terraform version`

[2020-02-28 13:15] t0mk commented on #224
Can you please run it again, this time, run the apply like
[code]

.. and upload the tflog file? Before uploading, please check that your auth token was blanked from the HTTP logs.

[2020-02-28 15:21] cromero-packet-ph commented on #224
Here's the output of `$ terraform version`:

`Terraform v0.12.21`
`+ provider.packet v2.5.0`

Guess need to run a provider update then trying it again.

[2020-02-28 20:33] cromero-packet-ph commented on #224
@t0mk here's the gist for the debug log for your inspection:
https://gist.github.com/cromero-packet-ph/e912dc91bdc57c71ae8d0be6cc0e47b0

[2020-02-28 23:05] cromero-packet-ph commented on #224
I ran a provider update with my system, showing the latest `$terraform version`:

`Terraform v0.12.21`
`+ provider.packet v2.7.5`

Due to big data size issue, I've resoluted to create a GH repo where I can stash the latest debug log, with tokens and other obvious sensitive data removed:
https://github.com/cromero-packet-ph/stash

[2020-03-02 15:41] t0mk commented on #224
@cromero-packet-ph Thanks. There's sth wrong with the eth and bond ports order.

I think something has changed in the API, I don't remember having two bond ports ever. The network type of the device has been implemented as the network_type of the `bond0` interface:
https://github.com/packethost/packngo/blob/1156d996f0d5fde76130da82f29abfa70b846c6e/devices.go#L116

In your HTTP log I can see that t

[2020-03-03 12:21] t0mk commented on #224
I created a n2.xlarge device today, and then put it to "hybrid" mode. I checked how the ports look over the API and it was:
- bond0 had "network_type": "layer3"
- bond1 had "network_type": "layer2-individual"
- eth0 [in bond0] was bonded
- eth1 [in bond1] was not bonded
- eth2 [in bond0] was bonded
- eth3 [in bond1] was not bonded

So it's a bit different state than the other plans with only one b

[2020-03-03 13:30] t0mk commented on #224
I wrote down network_type transitions in terms of API calls for n2.xlarge:

L3 -> hybrid:
 - /disbond API call to eth1
 - /disbond API call to eth3

hybrid -> L3:
 - /bond API call to eth1
 - /bond API call to eth3

L3 -> L2-individual
 - /convert/layer-2 API to bond0
 - /disbond API call to bond1
 - /disbond API call to bond0

L2-individual -> L3
 - /bond API call to bond0
 - /bond API call to bo

[2020-03-22 18:38] #224 closed

[2020-03-23 17:45] t0mk commented on #224
@cromero-packet-ph this should be fixed in provider version 2.8.0. Please update your provider and test. Let me know if it doesn't work. thanks!

[2020-04-03 09:54] t0mk opened #227 "packet_reserved_ip_block is broken"
I noticed that project attribute disappeared from the Reserved IP block API resource:
https://github.com/packethost/packngo/issues/174

Because that attribute disappeared from the resource, TF can't find out the project_id of a reserved_block resource (it will evaluate to "."), and every `terraform plan` will mark a packet_reserved_ip_block for re-creation.

This is most likely because of a change

[2020-04-03 15:06] vielmetti commented on #227
This has been fixed in the API; @t0mk if you can validate the fix, we can close this out.

[2020-04-03 15:31] mmlb commented on #227
I've verified that after our api rollout I am no longer seeing an issue.

[2020-04-04 14:24] t0mk commented on #227
@vielmetti @mmlb great, thanks. I checked the provider acceptance tests of the reserved block resource, they got back to green.

[2020-04-04 14:24] #227 closed

[2020-04-10 16:13] andfasano opened #228 "Connection reset by peer"
Sometimes, but not regularly, our Terraform script fails with the error message containing:

`read: connection reset by peer`

Despite the error, looks like the Packet server still gets created. How can we handle correctly such error?

Thanks

[2020-04-13 18:00] t0mk commented on #228
Hey @andfasano, thanks for the report. Can you please specify what happens in more detail?

Does the error make the terraform run fail? We have some resilience inbuilt in the provider, and in case of TCP errors (like $SUBJ), it should retry.

Are you able to invoke the error? If yes, can you please capture the HTTP traffic for me like this:

`TF_LOG=DEBUG TF_LOG_PATH=tflog  terraform apply -auto-a

[2020-04-21 23:16] johnstudarus opened #229 "null device facility"
The packet_device.foo.facility is returning null but the facilities is correct (list). The correct output should have the facility populated with the facility where the device was deployed.

This becomes an issue when using the facility to get the precreated subnets. You need to know the actual facility where the device was deployed (as opposed to the list of proposed facilities where the device _

[2020-04-21 23:20] johnstudarus commented on #229
Sigh. Just read the code and saw "deployed_facility".

[2020-04-21 23:20] #229 closed

[2020-04-22 18:02] andfasano commented on #228
Hi t0mk,
we were not able to replicate it until now.

[2020-04-22 18:15] andfasano opened #230 "JSON schema changed?"
Hi,
today we had a failure in the code related to extract the public ip from the `terraform.tfstate` file (see below), could you please confirm if something is changed?

`jq -r '.modules[0].resources["packet_device.server"].primary.attributes.access_public_ipv4' terraform.tfstate`

Thanks
Andrea

[2020-04-22 18:47] t0mk commented on #230
Hi @andfasano, I don't recall anything changing in the access_public_ipv4. Can you see anything in the state file under the access_public_ipv4?

[2020-04-22 18:53] vielmetti commented on #230
Hi @t0mk @andfasano - there was a note in a parallel discussion about a map being transformed into an array.

[2020-04-22 19:12] stbenjam commented on #230
Look like it's not the providers fault, we upgraded from terraform 0.11 to 0.12  and the schema changed of tfstate.

https://github.com/openshift/installer/blame/aa8452beb656b11239bd63e477c61bb2adb798d4/images/installer/Dockerfile.upi.ci#L41

[2020-04-22 19:26] vielmetti commented on #230
Thanks @stbenjam - it looks like the stable way to extract data from tfstate should be through `terraform output` https://www.terraform.io/docs/commands/output.html in case the tfstate schema changes again.

[2020-04-23 07:04] andfasano commented on #230
Thanks for the quick feedback, I'll close the issue then

[2020-04-23 07:04] #230 closed

[2020-04-23 07:05] #228 closed

[2020-05-18 13:35] vielmetti commented on #45
@t0mk - there is a report from @benschza linked here regarding project import, can you lend advice?

[2020-05-28 18:47] johananl opened #236 "Modifying user_data doesn't force device re-creation"
### Terraform Version

[code]

### Affected Resource(s)

- packet_device

### Expected Behavior

Modifying the `user_data` attribute of a Packet device should force resource re-creation.

### Actual Behavior

Modifying the `user_data` attribute of a Packet device does not force resource re-creation.

### Steps to Reproduce

1. Create a `resource "packet_device"` with some value in `user_data`.
1.

[2020-05-28 20:37] t0mk commented on #236
hi @johananl thanks for your report, I will take a look tomorrow.

[2020-05-28 22:21] t0mk commented on #236
hmm, there's been a request from someone from Packet to make it not ForceNew: https://github.com/terraform-providers/terraform-provider-packet/pull/169

@jmarhee do you remember why we've set user_date not to force re-creation on change? It was some elaborate scenario IIRC, but I don't remember what exactly.

[2020-05-28 23:21] jmarhee commented on #236
@t0mk I recall recreating the device was a breaking change, but do not recall off-hand to what. I'm looking into this to see if I can find the original context for why we needed this flipped off at the time. I'll keep you updated.

[2020-05-29 11:31] mrmrcoleman commented on #77
Hey @kyledrake does @t0mk 's suggestion above solve your issue, or do you have further requirements for this issue?

[2020-05-29 11:31] mrmrcoleman commented on #64
Hey @vielmetti were you able to get any clarity on these questions?

[2020-06-01 12:34] vielmetti commented on #64
I did not get any clarity on these questions @mrmrcoleman and the need for this has passed. Closing.

[2020-06-01 12:34] #64 closed

[2020-06-05 15:37] jmarhee commented on #236
@t0mk It appears that a customer reported that updating user_data via the API/Portal worked correctly, but it did not via Terraform, so we disabled it here; I believe this may have, since, been addressed, but I do not have confirmation on this. We can go ahead and test this with the setting reverted to confirm possibly, but beyond that, this was the high-level explanation for the change in the fir

[2020-07-07 10:54] johananl commented on #236
FWIW, here are my thoughts on this:

User data is used to provision cloud machines. I'm not aware of any other use for user data. Since cloud machines are typically treated as immutable, at least with regards to configuration options typically handled by user data scripts, I find it strange that altering the user data *at the API level* is even possible. AFAICT, the only way this capability is use

[2020-07-07 11:08] t0mk commented on #236
@johananl @jmarhee
Concluding from your last comments, I will make userdata ForceNew. I will pay close attention to support traffic if/until it breaks someone else's setup.

[2020-07-07 11:10] t0mk commented on #236
I will ping you here when new release with ForceNew on userdata is ready.

[2020-07-07 13:12] johananl commented on #236
Thanks a lot @t0mk.

Just for emphasis, my comment above describes what makes sense to *me* personally. I'm not familiar with all possible use cases so it's very likely that some people actually like being able to modify user data on running instances.

[2020-07-07 13:40] t0mk commented on #236
@johananl it's released. Please do `terraform init -upgrade` and check if it works for you. You can close the issue if it does then.

[2020-07-07 13:58] johananl commented on #236
Running `terraform init` with and without `-upgrade` using the following version constraints in my `.tf` file:

[code]

Getting the following:

[code]

Doing the same with `2.9.0` works fine. Do you know if Terraform pulls the providers directly from GitHub? Where is the binary stored?

[2020-07-07 14:17] johananl commented on #236
Ah, the provider downloads now :clap: Testing.

[2020-07-07 14:25] johananl commented on #236
Confirmed that modifying `user_data` triggers a replacement now. Thank you @t0mk!
In case anybody complains about the change, maybe there is a way to make it user-configurable (I don't have a lot of experience with TF providers).

[2020-07-07 20:18] paemason opened #238 "Packet Provider hangs on device creation though portal reports device is ready"
This might be the same as #211

### Terraform Version
terraform -v
Terraform v0.12.23
+ provider.local v1.4.0
+ provider.null v2.1.2
+ provider.packet v2.10.0
+ provider.random v2.3.0
+ provider.template v2.1.2
+ provider.tls v2.1.1

Your version of Terraform is out of date! The latest version
is 0.12.28. You can update by downloading from https://www.terraform.io/downloads.html

### Affected Reso

[2020-07-07 20:26] c0dyhi11 commented on #238
This is being used here:
https://github.com/packet-labs/google-anthos/blob/1ac5eadea2aab07b2cadb09fa8741944ee89178b/04-esx-hosts.tf#L1

The API call that is never completing is converting to Mixed/Hybrid. I think this conversion should be moved outside of the device creation and into its own resource. That way if it fails we can re-apply and not have to rebuild the whole server again.

[2020-07-07 20:36] c0dyhi11 commented on #238
@t0mk Can you take a look at this please? ^^

[2020-07-07 20:40] t0mk commented on #238
@c0dyhi11 @paemason Yes, I'll take a look tomorrow.

Is it easy to invoke? Can you prepare a simple template for me to test on? Will just `terraform apply` from the anthos repo work?

[2020-07-07 20:44] t0mk commented on #238
@c0dyhi11 @paemason It does indeed sound similar as the previous hybrid/layer3 problems. I might have a clue what's the culprit, I debugged sth similar here: https://github.com/packethost/vault-plugin-secrets-packet/pull/13

[2020-07-07 20:56] c0dyhi11 commented on #238
@t0mk its intermittent which is the hardest to diagnose. Here is a simple block to test:
[code]

[2020-07-07 21:04] t0mk commented on #238
@c0dyhi11 thanks. Can I please get enough IP space to project 52000fb2-ee46-4673-93a8-de2c2bdba33b in order to test this?

[2020-07-07 21:07] t0mk commented on #238
.. the `terraform apply` fails with
[code]

[2020-07-07 21:44] displague commented on #238
If this is related to #211, you might be able to get around it with extended timeouts in the device resource block: https://www.terraform.io/docs/configuration/resources.html#operation-timeouts

The [default for devices is 20m](https://github.com/terraform-providers/terraform-provider-packet/blob/master/packet/resource_packet_device.go#L24-L30).

The only resources that currently support timeouts

[2020-07-08 16:20] paemason commented on #238
I've tried using extended timeouts and had the same result: the server is provisioned in Packet's portal but stays in layer 3 mode and terraform is stuck waiting for it.

[2020-07-10 14:51] t0mk commented on #238
hi, I just verified that this is the same problem as
https://github.com/packethost/packngo/issues/141

I create the device over TF and then wait. When the API reports it as done, I can see TF still spinning. It's because it's waiting for the network_type to become layer3, so that it can proceed to convert it to `hybrid` (according to the TF template), but the API still reports it (over some endpoi

[2020-07-15 04:03] jstangroome commented on #236
Hello, this change breaks our usage. :)

Since particular server types are in limited supply in various Packet regions, we've found it more reliable to update the userdata in place and then re-image the existing server (the `reinstall` device API action). Destroying an existing server and then re-provisioning often leads to capacity errors, manual retries, and support ticket escalations.

If we us

[2020-07-15 04:33] ivan-section-io commented on #236
Highly contentious issue. See https://github.com/terraform-providers/terraform-provider-aws/issues/23

Not sure if there's a clear answer one way or another.

Just don't do anything where a minor provider upgrade would suddenly destroy people's servers... oh.

Oh, my...

[2020-07-15 09:13] t0mk commented on #236
@jstangroome @ivan-section-io thanks for your comments.

We need to get Packet people look at this @displague , maybe you can review.

I think the userdata ForceNew issue is either one way or another. Right now I can't think of a functioning compromise.

[2020-07-15 09:14] t0mk commented on #236
Maybe there could be 2 conflicting attributes - user_data and user_data_forcenew. One would be forcenew and users could choose which one to use.

[2020-07-15 12:16] johananl commented on #236
What would make more sense to me personally is to have another attribute under `packet_device` which determines whether to replace on user data change. Not sure if forcing a new resource can be "computed" in Terraform though.

[2020-07-15 12:18] johananl commented on #236
https://github.com/terraform-providers/terraform-provider-packet/blob/5c8dd1f220cadf36cbc87aff4edda6b967010ed0/packet/resource_packet_device.go#L233-L238

Can we set `ForceNew` conditionally? At the Go level I don't see why not.

[2020-07-15 15:00] t0mk commented on #236
@johananl AFAIK you can't set ForceNew conditionally as an attribute in a resource in a TF provider, it's a boolean, interpreted directly by the TF sdk.

Theoretically we could unset the ForceNew, and create a new optional bool attr taint_on_userdata_change, which would be true by default. If set, the resource logic would force to recreate on user_data change.

I think it could be done with Custom

[2020-07-15 23:07] jstangroome commented on #236
@t0mk

Of all the workarounds, this feels the least hacky. I also feel like there may be prior art in another provider somewhere, I'll dig around.

Yep, done, thanks.

[2020-07-16 06:10] t0mk commented on #236
@jstangroome

That would be really helpful!

@displague @jmarhee Do you have any Packet-official opinion on handling this?

[2020-07-16 12:33] jstangroome commented on #236
Where `user_data` forces new in Terraform:
* [AWS](https://github.com/terraform-providers/terraform-provider-aws/blob/e11ab5c4f868aca78b745ede1b05c7e8a1510dc0/aws/resource_aws_instance.go#L142)
* [DigitalOcean](https://github.com/terraform-providers/terraform-provider-digitalocean/blob/289c96e90b670f3a6f12858f1d3bf8602284d5a0/digitalocean/resource_digitalocean_droplet.go#L170)
* [Azure](https://gi

[2020-07-22 23:37] displague opened #241 "Create a data resource for querying Hardware Reservations"
The [Hardware Resevations](https://www.packet.com/developers/docs/getting-started/deployment-options/reserved-hardware/) [API](https://www.packet.com/developers/api/hardwarereservations/) should be represented as a Data resource.

This will enable more flexibility when defining [hardware_reservation_id in the packet_device](https://www.terraform.io/docs/providers/packet/r/device.html#hardware_rese

[2020-07-22 23:38] displague commented on #236
Hi! I can also report that the [Linode](https://github.com/linode/terraform-provider-linode/blob/master/linode/resource_linode_instance.go#L81-L95) provider also treats this value as requiring a ForceNew.  In that situation, it felt like a judgement call because "rebuild" is an API action that could have been triggered rather than requiring a new provision. It really comes down to what the API off

[2020-07-23 00:13] jstangroome commented on #236
@displague Hardware Reservations are tricky, and perhaps worth moving the discussion elsewhere. In short though, we've tried, and failed to find a clean way for Terraform to consume an available Hardware Reservation if it exists, and fallback to on-demand otherwise. I expect this would be even more difficult if the ForceNew is the reason why a Hardware Reservation suddenly became available mid-app

[2020-07-23 03:16] displague commented on #236
[null_resource triggers](https://www.terraform.io/docs/provisioners/null_resource.html#triggers) could be used as a work-around to my provisioner concerns. My hunch is that in-resource provisioners would be adversely affected.

Update logic is in place for this field, despite it being a ForceNew field.

I can't tell from https://www.terraform.io/docs/configuration/resources.html#lifecycle-lifecycl

[2020-07-23 05:10] displague commented on #238
The network caching issues reported above should be resolved on the Packet API side.  This should prevent the cases of waiting for an API response that should have already come.

Once the google-anthos module has been updated with #240 (available in 3.0.0 of the Packet Provider), I think we will see a reduction in waits for devices to provision and reach the desired network type. The anthos provis

[2020-07-23 10:09] t0mk commented on #241
@displague, will this offer anything over `wait_for_reservation_deprovision`?

https://www.terraform.io/docs/providers/packet/r/device.html#wait_for_reservation_deprovision
https://github.com/terraform-providers/terraform-provider-packet/blob/master/packet/resource_packet_device.go#L578

If yes, would you like to do it yourself, or would you like me to the datasource?

[2020-07-24 17:18] displague commented on #241
I wasn't aware of [wait_for_reservation_deprovision](https://www.terraform.io/docs/providers/packet/r/device.html#wait_for_reservation_deprovision).

Does this allow for a reserved hardware device to be reprovisioned (through the terraform lifecycle) on the same device? That would seem to settle: https://github.com/terraform-providers/terraform-provider-packet/issues/236#issuecomment-662759535 (wh

[2020-07-27 12:49] t0mk commented on #241
@displague I am not sure if  wait_for_reservation_deprovision allows to reprovision on the same device.

It can only be used with hw res ID together. If you set the w_f_r_d attr, `terraform delete` will then block until the reservation is marked provisionable again.

IIUC, there is only one device in a hw reservation. If you (terraform) destroy a device resource with hw res id with thew w_f_r_d at

[2020-07-27 13:17] t0mk commented on #241
I don't see how their problem (#236) would be resolved with hw res.

[2020-07-27 19:05] displague commented on #236
With a data resource (#241) this could be possible:

[code]

[2020-07-29 18:34] displague opened #243 "404 errors encountered by the provider lack error context"
The error returned when the provider (and packngo) and the Packet API encounter a 404 does not provide any usable context.  The message displayed is simply:

[code]

### Terraform Version
0.12+

### Affected Resource(s)
- packet_project
others

### Terraform Configuration Files
[code]

### Expected Behavior
The error message should be wrapped to describe the type of resource that could not be crea

[2020-08-24 18:09] displague opened #247 "improper handling of mixed disk "size" responses"
Device disk sizes are returned in an inconsistent format by the Packet API, such as the mix of string, integer, and unit-string results shown here:

[code]

As a result, errors such as `json: cannot unmarshal number into Go struct field .storage.disks.partitions.size of type string` are reported.

[2020-08-25 02:56] displague commented on #247
Within an internal issue tracker, I've also reported this API response as an inconsistency.

[2020-08-28 04:28] displague opened #249 "add a data resource for getting ssh keys"
There is currently no way to query and access an existing Packet Project SSH Keys through Terraform.

Create a data resource for project ssh keys.

[2020-08-28 05:09] displague commented on #249
https://github.com/packethost/packngo/pull/190 would enable a three-field `search` parameter for this data resource.
The existing `SSHKeyServiceOp.ProjectList` in packngo is sufficient for this data source.

[2020-08-28 20:31] t0mk commented on #249
@displague I'll take a look during the weekend or on Monday

[2020-08-30 09:09] gianarb commented on #249
Not sure about why this one is assigned to me :)

[2020-08-31 07:55] rainleander opened #251 "Packet Uniform Standards Request for a Maintained Repository"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

n/a

### Affected Resource(s)

https://github.com/packethost/terraform-provider-packet

### Terraform Configuration Files

n/a

### Debug Output

[2020-09-01 09:09] Jpnock commented on #247
Can confirm I've encountered this problem.

I believe the "storage" field was previously a string, rather than an object - hence the lack of validation on the field.

It seems the CPR documentation mixes string and integer types for the "size" field too which, if I remember correctly, causes the Device Creation API to return a 500 response code ([CPR docs](https://www.packet.com/developers/docs/se

[2020-09-02 16:46] displague opened #252 "Advanced example of packet_device_network_type"
We've seen a few questions in slack wondering about how to use `packet_device_network_type` in more advanced scenarios.

https://github.com/tinkerbell/tink/pull/276/files#r482165856 is indicative of the kinds of questions we are seeing.

Provide an example that:

- reflects different network types (hybrid, layer2, etc)
- reflects vlan_port_attachments (and a depends_on, if needed)
- reflects multi

[2020-09-10 12:10] rainleander commented on #251
CoC https://github.com/packethost/terraform-provider-packet/pull/253

[2020-09-16 08:12] rainleander commented on #251
Done!

[2020-09-16 08:12] #251 closed

[2020-09-17 14:50] displague opened #258 "Apply tfproviderlintx linter recomendations"
On the path to SDK v2, https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html, this provider will need to revise many behaviors. These changes are highlighted in the https://github.com/bflad/tfproviderlint/ linter, which is available as a github action.

When this is addressed, we should follow up by adding the GH Action to our workflow.

[2020-09-17 14:56] displague opened #259 "Update docs/ to the new TF registry format"
The updated docs format for Terraform Registry standards is defined at https://www.terraform.io/docs/registry/providers/docs.html#migrating-legacy-providers-docs.

The erb index is no longer needed, the directory structure changes, the files can use simpler ".md" filenames, and "guides/" are now supported.

[2020-09-18 12:28] t0mk commented on #259
@displague will you do this, or should I take care of it? I have one improvement for packet_project doc that I'd like to get in, but maybe I will wait till the docs are converted to the new format.

[2020-09-18 13:47] displague commented on #259
@t0mk Take all the issues you want 😅 !

https://github.com/packethost/terraform-provider-packet/issues/252 would be good to pick up if you want to improve some docs while reformatting.

Also docs related, but not needed for this, one of the new recommendations (https://github.com/packethost/terraform-provider-packet/issues/258) is that each Schema field should include "Description: " (which can be

[2020-09-18 13:48] displague commented on #259
I made a similar set of TF13 docs changes in another provider: https://github.com/equinix/terraform-provider-equinix/pull/11/commits/44f6335ffc268274b940825559aa255ac6f2b006

[2020-09-18 15:13] displague commented on #252
@dsieczko should be tagged for review when ready.

[2020-09-21 08:54] t0mk commented on #259
@displague OK, I will do the doc migration then. I will wait until #250 is merged.

[2020-09-21 08:56] t0mk commented on #252
@displague
There are some more advanced examples in
https://registry.terraform.io/providers/packethost/packet/latest/docs/resources/port_vlan_attachment#example-usage

notes
* It could be linked from the packet_device_network_type doc.
* There's a formatting error, not dividing the two examples.
* The 2 devices scenario could be added.

[2020-09-22 20:33] displague commented on #252
That sounds good @t0mk. I'd like to see a `count = 2` or similar on the device because it isn't obvious that the `depends_on` has to refer to the named resource (not the matching indexed device, due to TF limitations).

[2020-09-24 20:07] displague commented on #259
I've noted this in TF12+ readied providers:

[code]

[2020-09-24 21:01] t0mk commented on #259
@displague thanks for the tip!

[2020-09-25 08:42] t0mk commented on #259
@displague that's only to check how markdown will render, it doesn't help to verify whether all the necessary files are at the right place and nothing's missing.

[2020-10-02 14:18] #259 closed

[2020-10-02 19:14] displague opened #264 "Tests fail with `TF_SCHEMA_PANIC_ON_ERROR=1`"
The tests fail with `TF_SCHEMA_PANIC_ON_ERROR=1`. This must be overcome for TF SDK2 compatibility.

Terraform returns errors when a `Set` is called with an invalid value for the field type.  These errors are generally not handled by providers. With this TF_SCHEMA_PANIC_ON_ERROR flag set, those errors are returned as a panics.  This is useful in testing to ensure that all `Set` calls are effective.

[2020-10-02 19:20] displague opened #265 "TestAccPacketSpotMarketRequest test is flaky"
The following test failed:
[code]

This type of problem could be caused by:
* a resource whose values are independently manipulated (provider backend changes it after Terraform requests it), this can be resolved with a `DiffSuppressFunc`
* a resource whose values are not saved to state correctly after being fetched from the provider API (a missing or invalid `Set`)
* deletion or other test staging

[2020-10-02 19:25] displague opened #266 "Test sweeper may fail to delete provisioning devices"
During a test run with failures, the test sweeper regularly fails to delete devices that are still provisioning.

I'd like for the sweeper to deal with these things immediately. It is debatable that this is exactly the type of problem that we have a scheduled test and sweep job phase for. It will eventually resolve.  It should leave at most one test build of resources behind.

[code]

Is this a pr

[2020-10-02 19:49] t0mk commented on #266
@displague yes I think it's a problem if sweeper doesn't sweep, and I can't see any other solution that polling wait for "active" state.

[2020-10-06 16:56] invidian commented on #236
Hm, as the original issue title is no longer the case, should new issue be created to track optional replacement?

[2020-10-06 17:03] invidian opened #267 "packet_device_network_type not able to handle manual device removal"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- packet_device_network_type
- packet_port_vlan_attachment

If this issue appears to affect multiple resources, it may be an issue with

[2020-10-06 17:05] invidian commented on #267
Ah, it seems this also affects `packet_port_vlan_attachment` resource.

[2020-10-06 22:25] displague commented on #267
Similarly, if during the port attachment unbinding (delete) we encounter a 404, the unbind could be considered successful.

[2020-10-06 22:43] displague commented on #267
https://github.com/packethost/terraform-provider-packet/pull/268 seeks to correct this, please have a look @invidian - and thanks for pointing this out!

[2020-10-06 22:53] displague commented on #236
That sounds good to me, @invidian.

Given the conversation above, with the latest version of the provider, if this is still a problem for you, can you file a new issue to drive the provider toward your expectations? (@johananl @jstangroome @ivan-section-io)

[2020-10-06 22:53] #236 closed

[2020-10-07 10:14] t0mk opened #269 "new Equinix Metal API endpoint not working from the provider?"
I have issues running acceptance tests for PR #268

I run this 07.10.2020 10:13 UTC.

It might something to do with migration to api.equinix.com? Can someone verify if it's like that

Here I try to create a project from one of the acceptance test. I supply valid API token.
[code]

[2020-10-07 10:26] thebsdbox commented on #269
Ah ok.. So..

`curl -H 'X-Auth-Token: ...' https://api.equinix.com/metal/v1/projects `-> is **fine**
`curl -H 'X-Auth-Token: ...' https://api.packet.com/projects `-> is **fine**
`curl -H 'X-Auth-Token: ...' https://api.equinix.com/projects `-> is **broken**

[2020-10-07 10:34] t0mk commented on #269
This is caused by the new API endpoint api.equinix.com.

I have just checked with provider release 3.0.1 (which is using the old packet endpoint), and it works OK.

[2020-10-07 12:20] displague commented on #269
Thanks for checking in on this @t0mk. I've merged your packngo fix (we'll need a release tag on that) and then we can get this project updated.

[2020-10-14 15:09] displague opened #275 "Run linters and non-acc tests on pull requests"
Currently, `make testacc` is effectively run on packethost branches (which allows for testing on PRs from non-forks).

Forks would benefit from non-acc tests being run.  Currently, none are run.

What tests should be run?
* `make test` performs a basic `go test`, which verifies that the code compiles and runs any unit tests that can be verified without Equinix Metal credentials.
* `make fmt` could

[2020-10-15 13:37] displague commented on #259
I found out about https://github.com/bflad/tfproviderdocs today.

[2020-10-15 13:37] displague commented on #275
We can also verify docs with https://github.com/bflad/tfproviderdocs

[2020-10-21 14:58] displague opened #276 "data resource packet_device is slow when filtering by hostname"
The data resource `packet_device` is slow when filtering by hostname. This performance could be sped up with a server-side filter (if the API supported that), but could also be sped up by reducing the paginated queries made by stopping after the result is found.

### Terraform Version

TF  0.13 / Packet 3.0.1

### Affected Resource(s)
Please list the resources as a list, for example:
- data resour

[2020-10-21 15:04] displague commented on #276
Would increasing the perPage devices in this API query help?

[2020-10-21 15:14] displague commented on #276
Some form of filtering parameters for all Packngo List methods could also help:
https://github.com/packethost/packngo/issues/206

[2020-10-21 19:44] displague commented on #276
I've learned that an API search parameter is available for devices. The hypothesis is that by using this search parameter, we can reduce the pages requested from the API and significantly speed up the data resource.

https://github.com/packethost/packngo/pull/209 adds support for this to packngo.

[2020-10-29 16:17] displague opened #279 "Equinix Metal provider"
The name of this provider is currently `packet`.  Since Packet is now Equinix Metal, the provider and all of the resources should be renamed appropriately.

What would the name be? `equinix-metal`
Here is an example of a hyphenated provider and modules: https://registry.terraform.io/providers/hashicorp/kubernetes-alpha/latest.
This provider should not be confused with https://github.com/equinix/te

[2020-10-29 18:08] t0mk commented on #279
I think equinix-metal is proper, there are providers with hyphen in the name. Too bad the other equinix provider is not prefix-distinguishable.

There's also a lot of "Packet" in the function names, especially in the tests. Also the Auth Token envvar has Packet in it, and there's packngo.

Maybe it would be good to start from packngo and rename it to equinix-go-sdk or sth.

[2020-10-29 18:48] displague commented on #279
I chatted with @mikouaj about the Equinix provider, it is a unified provider and other resources will fit in there when added.

This is probably a conversation to start on packngo.

There are a few rename options, `github.com/equinixmetal/equinix-metal-go/` or perhaps `equinixmetal/equinix-metal-sdks/go` (one repo with multiple providers, it might be hard to get Ruby, Python, Java/Maven, Go, NPM,

[2020-11-05 15:18] displague commented on #279
The `equinix` namespace and provider are now available: https://registry.terraform.io/namespaces/equinix

[2020-11-10 14:23] displague commented on #279
The new repository can change to the default branch of `default`, and can leave the `master` branch behind on this `packethost` fork of the project which should be archived after providing users ample time to migrate to the new project.

We may still see issues filed against this repository during the transition.  With this repository being a fork of the `terraform-provider-equinix-metal` repo, we

[2020-11-12 16:08] t0mk opened #285 "use Environment Fiels in Acceptance tests (GH Actions) before November 16th"
https://github.com/packethost/terraform-provider-packet/runs/1390518329?check_suite_focus=true#step:2:8

Error: The `set-env` command is deprecated and will be disabled on November 16th. Please upgrade to using Environment Files. For more information see: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/
Error: The `add-path` command is deprecated a

[2020-11-13 20:34] invidian opened #286 "Migrate to Terraform Plugin SDK v2"
New major version is out and all providers should be updated. See https://www.terraform.io/docs/extend/guides/v2-upgrade-guide.html for more details.

[2020-11-14 04:01] arctiqtim opened #287 "Error: Not Found when provisioning SSH key with packet_project_ssh_key"
Hi there!

Seeing an issue when trying to provision project SSH keys with Terraform.  The terraform apply fails with an Error: Not Found message when applying, however they key is actually created in the Packet console.

### Terraform Version
Terraform v0.13.3
+ provider registry.terraform.io/hashicorp/tls v2.2.0
+ provider registry.terraform.io/packethost/packet v3.1.0-alpha1

### Affected Resour

[2020-11-16 09:23] invidian commented on #77
See also how OVH Terraform provider deals with reboots via Terraform: https://registry.terraform.io/providers/ovh/ovh/latest/docs/resources/dedicated_server_reboot_task

[2020-11-16 09:31] invidian opened #289 "Unsetting "hardware_reservation_id" does not trigger device re-creation"
### Terraform Version
[code]

### Affected Resource(s)
- `packet_device`

### Terraform Configuration Files
[code]

### Expected Behavior

When hardware reservation ID is no longer set, device should be re-created with on-demand instance.

### Actual Behavior

Terraform plan is empty and device is not re-created.

### Steps to Reproduce
1. `terraform apply`
2. Apply config change as noted in the d

[2020-11-16 10:34] invidian commented on #289
I ended up with panicking SDK while testing this: https://github.com/hashicorp/terraform-plugin-sdk/issues/642

I _think_ this issue comes from the fact that combination of `Optional`, `Computed` and `ForceNew` is used, which cannot really be well handled from Terraform SDK point of view. One solution would be to split `hardware_reservation_id` field into one which is user-configured and other whi

[2020-11-16 13:32] t0mk commented on #287
hey @arctiqtim thanks for reporting the issue. I will take a look and get back to you.

[2020-11-16 13:36] displague commented on #269
These changes were released with v3.1.0 which updated packngo to 0.5.0

[2020-11-16 13:36] #269 closed

[2020-11-16 13:46] displague commented on #287
This sounds similar to other reports we've seen here and on packngo when using a Project API Key (instead of a user API key).

The other report that comes to mind (I can't find an appropriate link) is that (IIRC) there is a `Location:` returned for the newly created ssh key, but the project API key doesn't have access to the key at that `Location:` URL (but it would be able to access the key by ID

[2020-11-16 13:57] t0mk commented on #287
@arctiqtim thank you for thorough debug log, but firstly I have to ask you to rotate your API token, because you unfortunately pasted it in the Gist. I think we should put a warning about the API token to the PR template, it's an easy fauxpas to make, especially if you want to be helpful.

I've just now tried with the same conf with TF version 0.13.5, Packet provider version 3.1.0. On tf apply, I

[2020-11-16 14:20] t0mk commented on #77
@invidian thanks, that's news for me. I will take a look of we could do sth like that here.

[2020-11-16 14:34] t0mk commented on #289
@invidian thanks for reporting, I will take a look tomorrow. I know the hw res id attr is problematic. It also needs to support the `next-available` value, which makes it a bit hard to interpret, use, and process in the code.

[2020-11-16 16:53] arctiqtim commented on #287
Thanks @t0mk for having a look!  And for the watchful eye on the presence of the token  👍

That token was an ephemeral token so no worries there.  We have the Vault secrets engine running that Terraform is uing to have ephemeral project level API keys generated for each Terraform run.

I upgraded to the 3.1.0 release of the provider and no difference in the behaviour.  I think it needs to be a rea

[2020-11-16 17:12] arctiqtim commented on #287
I tested this with a user API key vs project API key and the terraform plan runs without issue FYI.  So definitely isolated to an issue with project level API keys

[2020-11-16 19:50] t0mk commented on #287
@arctiqtim ah, I only tried with my user API key. I'll try with a project API key tomorrow, and if it's an API issue, I will try to report it.

[2020-11-16 21:21] displague commented on #287
I ran into a similar behavior when making https://github.com/displague/metal-actions-example. I could not have a project API key delete the project and the key itself, so I needed the user key performing this task.

[2020-11-16 21:24] displague commented on #287
There is a newline in the key, can you try removing that?

[2020-11-16 22:31] arctiqtim commented on #287
Think I tried that using chomp but will have a look again.  Would seem odd that this would be the case for user vs project api key ... since the terraform code is unchanged, and I am using a data call to vault to retrieve the key.  So when I tested with user key I'm just using a different endpoint in Vault that's configured to dish out a user key instead of project.

[code]

This is the code I'm u

[2020-11-17 04:02] displague commented on #287
https://github.com/packethost/vault-plugin-secrets-packet/issues/11 seems related

[2020-11-17 13:18] t0mk commented on #287
@arctiqtim I tested with project API key and got the same error. I created issue in packngo, hopefully we can get someone from Equinix Metal to look at this. Thanks again for reporting.

[2020-11-17 14:09] arctiqtim commented on #287
No problem @t0mk happy to help

@displague I haven't had any issues with the Vault provider revoking project API keys it generates but I've config'd the Vault backend (packet/config) to use a user API key :)

[2020-11-18 15:45] t0mk commented on #289
@invidian I did try your use case, and it's true, if you create a device resource with hw res, and then remove the hw res attr, the device is not marked for re-creation.

I noticed the hardware_reservation_id is marked as "Computed", and when I unset the "Computed" flag, it attempts re-creation after removing the hw res attr from HCL template. However, I think the Computed is somehow necessary for

[2020-11-18 15:50] t0mk commented on #289
Maybe I could get around the next-available, if I'd introduced another attr called "deployed_hardware_reservation_id", which would be Computed. Similarly to "deployed_facility" https://github.com/packethost/terraform-provider-packet/blob/master/packet/resource_packet_device.go#L62

Maybe we could then even get rid off the DiffSuppressFunc.

[2020-11-18 15:55] t0mk commented on #289
Hmm, just removing "Computed: true" from the hardware_reservation_id was enough to seemingly make it work as expected. I am not sure if it's an OK move, and whether it will break some other use cases. Nothing comes to my mind though. I will read a bit about Computed.

[2020-11-18 16:41] invidian commented on #289
As far as I know, without `Computed: true` you cannot use `Set()` in `CustomizeDiff`, but this is not used here, so it shouldn't be a problem.

As for `hardware_reservation_id` `DiffSuppressFunc` is used, I think it should be OK to remove it, as Terraform won't try to revert `Set()` from `Read` function.

I think test case below represents the situation. Tests are passing so I _think_ it should be

[2020-11-18 18:49] t0mk commented on #289
@invidian thanks for the test snippet, that's really inventive way to verify TF features. It's first time I see it and I'm gonna use it more.

The next-available will most likely not be a problem, and the Computed shouldn't have been in the hw_res_id attribute. Later on, I became a bit worried about resources that might link the `hardware_reservation_id` attr from the device (to refer to the hw re

[2020-12-01 14:54] #285 closed

[2020-12-02 16:28] displague opened #298 "packet_reserved_ip_block should include tags (and other missing fields)"
The `packet_reserved_ip_block` resource does not expose the `tag` property (and likely several others) which packngo does include: https://github.com/packethost/packngo/blob/master/ip.go#L41-L70

https://github.com/packethost/terraform-provider-packet/blob/1da99830f51b74dae98661f612f9203adbcf7038/packet/resource_packet_reserved_ip_block.go

[2020-12-03 00:04] displague opened #299 "consider packet_project_bgp_config resources"
Today we provide https://registry.terraform.io/providers/packethost/packet/3.1.0/docs/resources/project#enabling-bgp-in-an-existing-project which instructs users that existing projects can be used in Terraform with BGP configuration:

[code]

[code]

Users that need to import existing projects, may not be keen on having Terraform manage (and destroy) that project beyond BGP configuration.

Deletes

[2020-12-03 00:20] displague commented on #299
Have you run into this limitation, @t0mk and @jmarhee?

[2020-12-04 18:55] displague commented on #279
This is now cleared to move. I will have to update the `equinix-metal` branch with the latest changes so that it can be merged into the `main` branch.

[2020-12-06 22:59] displague commented on #289
This has been resolved in [v3.2.0](https://github.com/packethost/terraform-provider-packet/releases/tag/v3.2.0)

[2020-12-06 22:59] #289 closed

[2020-12-07 22:32] displague commented on #279
Redirects from packethost/terraform-provider-packethost to equinix/terraform-provider-equinix-metal won't withstand a fork at packethost/terraform-provider-packethost.

Since we don't get the benefit of redirects, I think the cleaner approach will be to create a new repo at equinix/terraform-provider-equinix-metal.  This will also provide a better experience around release artifacts, since the new

[2020-12-09 02:52] displague commented on #279
The Equinix Metal provider is available at https://registry.terraform.io/providers/equinix/metal/latest

https://github.com/equinix/terraform-provider-metal/

[2020-12-09 02:52] #279 closed

[2020-12-09 02:57] displague opened #303 "Deprecate the terraform-provider-packet project"
This project should eventually be archived.

Following https://github.com/packethost/terraform-provider-packet/issues/279, new work should move to the Equinix Metal provider.

Here are some initial thoughts:
* README.md should be updated with a deprecation notice
* GitHub project description and link should refer to the new provider
* Terraform Registry should be updated with a deprecation notice

[2020-12-10 14:24] displague opened #304 "3.2.0 introduced a breaking change without a 4.0.0 version bump"
The solution to [#289](https://github.com/packethost/terraform-provider-packet/issues/289) introduced a breaking change without a major version bump.

Can we remove the 3.2.0 version stamp? If so, how does this affect users that are already using 3.2.0?

How does this affect users with the often suggested setting: `hardware_reservation_id = "next-available"`

What steps should users take when migr

[2020-12-10 14:31] displague commented on #304
For example, if a user that had `hardware_reservation_id = "next-available"` will have a stateful value, post-provision of `hardware_reservation_id = {some-uuid}`.

Upon updating to 3.2.0, the next `plan` will want to destroy those resources to reset the `hardware_reservation_id` to `next-available`.

[2020-12-10 14:35] displague commented on #304
To address this problem as a 3.2.1 change, the diff could be ignored when going from `{uuid}` to `next-available`.  Should a 4.0.0 then revert that change to the current behavior? What migration notes should we provide?

Notes on migrating from this state should be included in equinix/terraform-provider-metal#1.

[2020-12-10 19:31] #304 closed

[2021-01-27 00:11] displague opened #306 "n2.xlarge.x86 gives error "Strange 2-bond ports conf - bond0: layer3, bond1: layer2-bonded""
When provisioning or updating a configuration with Packet provider v3.0.1 or older, I receive the error message: "Strange 2-bond ports conf - bond0: layer3, bond1: layer2-bonded"

[2021-01-27 00:12] displague commented on #306
A recent API change is incompatible with this older version of the Packet provider.

Please update to v3.2.1 or use the Metal provider (https://github.com/equinix/terraform-provider-metal/issues/1).

[2021-01-27 00:12] #306 closed

[2021-01-27 15:20] #252 closed

[2021-01-27 15:20] displague commented on #306
The specific API change that led to this:
* Previously, even though no IPs were assigned to bond1, both bond0 and bond1 would report as layer3.
* Now, bond0 reports as layer3, while bond1 reports as layer2-bonded.

[2021-01-27 21:40] displague commented on #287
Project API keys can now successfully create and destroy project SSH keys.  This change was on the Equinix Metal API side (and benefits the [Equinix Metal](https://github.com/equinix/terraform-provider-metal/issues/1) and Packet provider equally).

Please reopen the issue if the problem is not resolved, @arctiqtim.

If you find other limitations with the project API key use in Terraform, please op

[2021-01-27 21:40] #287 closed

[2021-02-02 17:32] displague commented on #299
This issue is about managing BGP configuration for a Project without the project being managed by Terraform.

BGP configuration resources would not be modifiable or destroyable, which creates some problems for their use.

If Project BGP configuration could be modified or removed after being enabled, we would have a better experience for `packet_project_bgo_config` resources.  The addition of BGP u

[2021-03-22 20:01] displague commented on #276
The optimization described above has been applied: https://github.com/packethost/terraform-provider-packet/blob/5888173/packet/datasource_packet_device.go#L191

[2021-03-22 20:01] #276 closed

[2021-04-15 18:13] displague opened #307 "packet_port_vlan_attachment errors if Metro VLANs are present in the project"
`packet_port_vlan_attachment` resources will report errors and fail if Metro VLANs are present in the project.

This affects versions 2.0.0 - 3.2.1.

This issue is also present in the Equinix Metal provider.
https://github.com/equinix/terraform-provider-metal/issues/69

Based on the scope of this problem, we will issue a maintenance release for this problem in the Packet provider.

The Equinix Met

[2021-04-15 18:18] displague commented on #307
There may be other places where `Facility.Code` (or .Facility.*) is assumed to be present in IP reservations or VLANs. These resources should be made Metro safe.

Metro safe means that these resources do not cause the provider to crash.
This likely means that the some Metro bound resources will be invisible to the Packet provider.

[2021-04-16 10:15] t0mk commented on #307
I looked at the code and actually tried to use metal_port_vlan_attachment with the packet provider (this repo). I had a metro vlan in the project. It doesn't fail. Vlans have FacilityCode (a string), so there's no danger of null pointer deref. There might be a problem in certain scenarios, e.g. when user will (somehow) create a metro vlan and then try to attach it with packet_port_vlan_attachment.

[2021-04-16 10:31] t0mk commented on #307
Volume don't even have metros so I think we are safe there.

[2021-04-16 10:34] t0mk commented on #307
Datasource packet_precreated_ip_block and packet_ip_attachment work ok, no crash.

[2021-04-16 11:19] t0mk commented on #307
* packet_reserved_ip_block and packet_ip_attachment no crash
* creating packet_device with
[code]
  .. also OK and no crash

[2021-04-16 11:19] t0mk commented on #307
@displague Do you have a hcl template demonstrating the crash?

[2021-04-16 12:06] displague commented on #307
[code]

[2021-04-16 15:57] displague commented on #307
I suspected that the above would trigger a crash, but I was misreading the `v.FacilityCode` as `v.Facility.Code`. I think we are safe here.

Thanks for the diligent inspection and testing, @t0mk!

[2021-04-16 15:57] #307 closed

[2021-04-19 14:57] alice-sowerby commented on #303
@displague please could you make some of the simpler changes e.g.
1. Update Readme description to more clearly show that you should go to the Equinix version https://github.com/equinix/terraform-provider-metal.
2. Consider whether we should call it “maintained”. Maybe some kind of EOL status or deprecated tag.
3. Deal with the issues attached to this repo (at least prevent any new ones being raise

[2021-04-19 18:10] displague commented on #303
https://github.com/packethost/standards/issues/77

[2021-04-19 18:17] displague commented on #286
Closing this as this provider will be deprecated and any new work will take place in the Equinix Metal provider.
https://github.com/equinix/terraform-provider-metal/issues/77

[2021-04-19 18:17] #286 closed

[2021-04-19 18:23] displague commented on #249
This resource was included in the Packet provider and is present in the Equinix Metal provider.

[2021-04-19 18:23] #249 closed

[2021-04-19 18:27] displague commented on #258
This project now includes the tfproviderlint task in the Makefile. Additionally, this task will likely be included in the GH Action CI of the terraform-provider-metal provider, per https://github.com/equinix/terraform-provider-metal/pull/52/files#diff-b13dcc8c7cb36369d33a12826766ecfdadcd44eeff221f1426d63169f9217efd.

Closing this issue as this work will not continue in this project.

[2021-04-19 18:27] #258 closed

[2021-04-19 18:44] displague commented on #51
Closing this issue as importers have been implemented and any furthering of this task will take place on the Equinix Metal provider.

[2021-04-19 18:44] #51 closed

[2021-05-20 20:25] displague commented on #241
This has been implemented in the Equinix Metal provider. Closing this.

https://github.com/equinix/terraform-provider-metal/issues/86

_This will not be implemented in the legacy Packet provider_.

[2021-05-20 20:25] #241 closed

[2021-06-15 15:46] displague commented on #298
Closing in favor of https://github.com/equinix/terraform-provider-metal/issues/128

[2021-06-15 15:46] #298 closed

[2021-06-15 15:48] displague commented on #77
Closing this issue as this provider is being deprecated in favor of the Equinix Metal provider
https://github.com/equinix/terraform-provider-metal

This is an interesting problem that we want to revisit there.

[2021-06-15 15:48] #77 closed

[2021-06-15 15:54] displague commented on #128
The ability to assign private IPs dynamically, after the initial provision, could be possible with https://github.com/equinix/terraform-provider-metal/issues/12#issuecomment-775268639. I'm not sure if it would be possible to change those addresses after the port has been toggled to Layer3 for the first time (perhaps the provider would need to convert to layer2 and back to layer3 to add additional

[2021-06-15 15:54] #128 closed

[2021-06-15 15:59] displague commented on #267
Closing this issue as #268 may have solved it here, while the broader handling of device 403 and 404 responses while modifying ports.

The Equinix Metal provider (https://github.com/equinix/terraform-provider-metal) has corrected this and is the successor to this Packet provider, which is being deprecated.

[2021-06-15 15:59] #267 closed

[2021-06-15 16:52] invidian commented on #267
Sorry for lack of feedback regarding if this has been resolved, but I didn't find time for it, so I trust you it's better now :+1:

[2022-01-24 15:22] displague commented on #243
This will not be addressed in the Packet provider. Please use the Equinix Metal Terraform provider where 404,403, and other errors (5xx) are better handled.

https://registry.terraform.io/providers/equinix/metal/latest/docs/guides/migration_guide_packet

[2022-01-24 15:22] #243 closed

[2022-01-24 15:25] displague commented on #266
This was addressed in https://github.com/equinix/terraform-provider-metal/issues/25

[2022-01-24 15:25] #266 closed

[2022-01-24 15:36] displague commented on #299
Closing in favor of https://github.com/equinix/terraform-provider-metal/issues/210

[2022-01-24 15:36] #299 closed

[2022-06-30 08:34] ocobleseqx commented on #238
**NOTE: This project is Deprecated. The [Equinix provider](https://registry.terraform.io/providers/equinix/equinix/latest/docs) has full support for existing Terraform managed Equinix Metal (Packet) resources once Terraform configuration and state are adapted. The Equinix provider manages resources including Network Edge and Fabric in addition to Metal. [Please review the Packet to Equinix provide

[2022-06-30 08:34] #238 closed

[2022-06-30 08:49] ocobleseqx commented on #247
**NOTE: This project is Deprecated. The [Equinix provider](https://registry.terraform.io/providers/equinix/equinix/latest/docs) has full support for existing Terraform managed Equinix Metal (Packet) resources once Terraform configuration and state are adapted. The Equinix provider manages resources including Network Edge and Fabric in addition to Metal. [Please review the Packet to Equinix provide

[2022-06-30 08:49] #247 closed

[2022-06-30 09:11] #264 closed

[2022-06-30 09:27] ocobleseqx commented on #265
**NOTE: This project is Deprecated. The [Equinix provider](https://registry.terraform.io/providers/equinix/equinix/latest/docs) has full support for existing Terraform managed Equinix Metal (Packet) resources once Terraform configuration and state are adapted. The Equinix provider manages resources including Network Edge and Fabric in addition to Metal. [Please review the Packet to Equinix provide

[2022-06-30 09:27] #265 closed

[2022-06-30 09:48] ocobleseqx commented on #275
**NOTE: This project is Deprecated. The [Equinix provider](https://registry.terraform.io/providers/equinix/equinix/latest/docs) has full support for existing Terraform managed Equinix Metal (Packet) resources once Terraform configuration and state are adapted. The Equinix provider manages resources including Network Edge and Fabric in addition to Metal. [Please review the Packet to Equinix provide